
@{
    ViewBag.Title = "vertarea";
    Page.Title = "Ver tarea - Brokolee Software";
}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Ver Tarea</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i>Panel de Control</a></li>
                            <li class="breadcrumb-item active">Ver tarea</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row form-material">
                            <div class="col-md-6">
                                <h5 class="d-inline-block">Servicio:</h5>
                            </div>
                            <div class="col-md-6 mb-1">
                                <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light float-xl-right float-lg-right float-md-left" data-toggle="dropdown" aria-expanded="false">Reasignar Tarea<span class="caret"></span> </button>
                                <div class="dropdown-menu">
                                    @foreach (var item in Model.titularList)
                                    {


                                        <a class="dropdown-item" href="#">@item.first_name1</a>

                                    }
                                    @*<a class="dropdown-item" href="#">Titular 3</a>
        <a class="dropdown-item" href="#">Titular 4</a>*@
                                </div>

                                </div>
                           
                                </div>
                        <div class="form-divider"></div>
                        <div class="row form-material">
                            <div class="col-sm-12">
                                <div class="row form-material">
                                    <div class="col-md-2"><p><i class="mdi mdi-account text-primary"></i> @Model.viewTask.responsable</p></div>
                                    <div class="col-md-2"><p><i class="mdi mdi-calendar-check text-primary"></i> @Convert.ToDateTime(Model.viewTask.task_date).ToString("MM/dd/yyyy")</p></div>
                                    <div class="col-md-2"><p><i class="mdi mdi-calendar-clock text-primary"></i> @Convert.ToDateTime(Model.viewTask.estimated_date).ToString("MM/dd/yyyy")</p></div>

                                    <div class="col-md-4">
                                        <p>
                                            @if (Model.viewTask.status == 1)
                                            {
                                                <button type="button" class="btn btn-warning waves-effect waves-light btn-sm">Sin comenzar</button>
                                            }
                                            else
                                            {

                                                if (Model.viewTask.status == 2)
                                                {
                                                    <button type="button" class="btn btn-primary waves-effect waves-light btn-sm">En Proceso</button>
                                                }
                                                else
                                                {

                                                    if (Model.viewTask.status == 3)
                                                    {
                                                        <button type="button" class="btn btn-dark waves-effect waves-light btn-sm">Terminada</button>
                                                    }
                                                }


                                            }





                                       
                                            
                                        </p>
                                    </div>
                                    <div class="col-md-2"><p></p></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h6>Descripción</h6>
                                <p>@Model.viewTask.description.</p>
                            </div>
                            <div class="col-sm-6">
                                <h6>Comentarios del Administrador</h6>
                                <p>@Model.viewTask.comments.</p>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div id="accordion">
                            <div class="card mb-1">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0 mt-0 font-16">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne" aria-expanded="false"
                                           aria-controls="collapseOne" class="text-dark">
                                            Agregar comentario para la tarea
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse"
                                     aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Título">
                                                    </div>
                                                </form>
                                                <div id="summernote" class="mb-2"></div>
                                                <div class="form-group mb-0">
                                                    <div class="my-3">
                                                        <a href=""><button class="btn btn-primary"> <span>Agregar Entrada</span></button></a>
                                                        <a href=""><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-timeline mt-3">
                            @for (int i = 0; i < Model.taskcommentList.Count; i++)
                            {
                                if (i % 2 == 0)
                                {
                                    <div class="timeline">
                                        <span class="timeline-icon"></span>
                                        <span class="year">@Convert.ToDateTime(Model.taskcommentList[i].comment_datetime).ToString("dd MMM yyyy")</span>
                                        <div class="timeline-content">
                                            <h5 class="title">@Model.taskcommentList[i].comment_username</h5>
                                            <span class="post text-right"><i class="mdi mdi-clock"></i> @Convert.ToDateTime(Model.taskcommentList[i].comment_datetime).ToString("hh:mm tt")</span>
                                            <p class="description">
                                                @Model.taskcommentList[i].task_comment.
                                            </p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="timeline">
                                        <span class="timeline-icon"></span>
                                        <span class="year">@Convert.ToDateTime(Model.taskcommentList[i].comment_datetime).ToString("dd MMM yyyy")</span>
                                        <div class="timeline-content">
                                            <h5 class="title">@Model.taskcommentList[i].comment_username</h5>
                                            <span class="post text-right"><i class="mdi mdi-clock"></i> @Convert.ToDateTime(Model.taskcommentList[i].comment_datetime).ToString("hh:mm tt")</span>
                                            <p class="description">
                                                @Model.taskcommentList[i].task_comment.
                                            </p>
                                            <div class="timeline-body">
                                                <div class="m-t-20">
                                                    <a href="#">
                                                        <img alt="" src="../assets/images/small/img-1.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->