
@{
    ViewBag.Title = "editar";
    Page.Title = "Editar facilidad - Brokolee Software";
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>


    <div class="page-content-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-left">
                            <div class="breadcrumb float-md-right">
                                <h4 class="page-title">Editar facilidad</h4>
                            </div>
                        </div>
                        <div class="float-right">
                            <ul class="breadcrumb float-md-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de control</a></li>
                                <li class="breadcrumb-item active">Editar facilidad</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
            <!-- back button -->
            <div class="row pb-4">
                <div class="col-md-6">
                    <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                </div>
            </div>
            <!-- end back button -->

            <div class="row">

                <div class="col-12">
                    <div class="card">
                        @using (Html.BeginForm("editfac", "facilidades",
                            FormMethod.Post,
                           new
                           {
                               id = "editfacForm",
                               @class = "",
                               area = "coadmin",
                               enctype = "multipart/form-data"
                           }))
                        {
                            @Html.AntiForgeryToken()
                            <input name="facID" value="@Model.editFac.id" type="hidden" />
                            <div class="card-body">
                                <h5 class="d-inline-block">Editar facilidad</h5>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-email-input" class="col-sm-3 col-form-label">Nombre</label>
                                    <div class="col-sm-9">
                                        <input maxlength="30" class="form-control soloTexto" type="text" value="@Model.editFac.first_name" required
                                               data-toggle="tooltip" title="Nombre de la facilidad"
                                               placeholder="Nombre" id="example-email-input" name="first_name">
                                        <small class="form-text text-muted">Nombre de la facilidad</small>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-lastname1-input" class="col-sm-3 col-form-label">Descripción</label>
                                    <div class="col-sm-9">
                                        <textarea required class="form-control" rows="3" name="description"
                                                  data-toggle="tooltip" title="Descripción de la facilidad"
                                                  placeholder="Descripción">@Model.editFac.description</textarea>
                                        <small class="form-text text-muted">Descripción de la facilidad</small>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-time-input" class="col-sm-3 col-form-label">Hora de inicio</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="time" value="@Model.editFac.start_time.ToString(@"hh\:mm")"
                                               data-toggle="tooltip" title="Hora de inicio de disponibilidad"
                                               id="example-time-input" name="start_time" required />
                                        <small class="form-text text-muted">Hora de inicio de disponibilidad</small>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-time-input" class="col-sm-3 col-form-label">Hora de fin</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="time" value="@Model.editFac.end_time.ToString(@"hh\:mm")"
                                               data-toggle="tooltip" title="Hora de fin de disponibilidad"
                                               id="example-time-input" name="end_time" required />
                                        <small class="form-text text-muted">Hora de fin de disponibilidad</small>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Duración de reservaciones</label>
                                    <div class="col-sm-9">
                                        <select required class="form-control" name="duration"
                                                data-toggle="tooltip" title="Duración de reservaciones en horas">
                                            @foreach (var i in Model.timeList)
                                            {
                                                if (Model.editFac.duration == i)
                                                {
                                                    <option value="@i" selected>@i hora</option>
                                                }
                                                else
                                                {
                                                    <option value="@i">@i hora</option>
                                                }

                                            }
                                        </select>
                                        <small class="form-text text-muted">Duración de reservaciones en horas</small>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-date-input" class="col-sm-3 col-form-label">Costo por reservación</label>
                                    <div class="col-sm-9">
                                        <div class="input-group mt-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                            </div>
                                            <input maxlength="20" type="text" onkeypress="return filterFloat(event,this);" class="form-control" name="cost_reservation"
                                                   data-toggle="tooltip" title="Costo por reservación"
                                                   value="@Model.editFac.cost_reservation.ToString().Replace(',', '.')" required />
                                        </div>
                                        <small class="form-text text-muted">Pago por la reserva de la facilidad</small>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-name2-input" class="col-sm-3 col-form-label">Subir Reglamento</label>
                                    <div class="col-sm-9">
                                        <div class="input-group mt-2">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile04" accept=".pdf"
                                                       data-toggle="tooltip" title="Subir Reglamento"
                                                       name="upload_regulation">
                                                <label id="input-arch" class="custom-file-label" for="inputGroupFile04">Seleccionar archivo</label>
                                            </div>
                                        </div>

                                        <div class="m-b-10 m-t-10">
                                            @if (Model.editFac.upload_regulation != null)
                                            {
                                                <a href="~/Upload/Regulation/@Model.editFac.upload_regulation" download="">
                                                    <button type="button" class="btn btn-info waves-effect waves-light">
                                                        <i class="mdi mdi-cloud-download  m-r-5"></i> Descargar reglamento
                                                    </button>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="">
                                                    <button type="button" class="btn btn-info waves-effect waves-light">
                                                        <i class="mdi mdi-cloud-download  m-r-5"></i> Descargar reglamento
                                                    </button>
                                                </a>
                                            }

                                            <small class="form-text text-muted">Descargar el reglamento de la facilidad</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <a href=""><button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button></a>
                                <a href="javascript:history.back()"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                            </div>
                        }
                    </div>
                </div>
            </div><!-- end row -->
            <!-- back button -->
            <div class="row pb-4">
                <div class="col-md-6">
                    <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                </div>
            </div>
            <!-- end back button -->

        </div><!-- container -->

    </div> <!-- Page content Wrapper -->

<script type="text/javascript">

    (function () {

        $('#inputGroupFile04').change(function () {

            // $('#garras').prev().text($(this)[0].files[0].name);
            //nombre del archivo cargado=$(this)[0].files[0].name
            $('#input-arch').html($(this)[0].files[0].name);
        });


    })();
</script>
