@{
    ViewBag.Title = "listado";
    Page.Title = "Listado de contactos - Brokolee Software";
}

    <div class="page-content-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-left">
                            <div class="breadcrumb float-md-right">
                                <h4 class="page-title">Listado de contactos</h4>
                            </div>
                        </div>
                        <div class="float-right">
                            <ul class="breadcrumb float-md-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de Control</a></li>
                                <li class="breadcrumb-item active">Listado de contactos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <div class="input-group">
                                @using (Html.BeginForm("SeacrhResult", "contacto", FormMethod.Post, new
                                {
                                    id = "searchForm",
                                    @class = "search-form",
                                    area = "coadmin",
                                    enctype = "multipart/form-data"
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="text" id="example-input1-group2" name="searchStr" value="@Model.searchStr"
                                           class="form-control" placeholder="Buscar por nombre o número...">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-effect-ripple btn-primary"><i class="fas fa-search"></i> Buscar </button>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->








            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <div class="row form-material">
                                <div class="col-md-6">
                                    <h5 class="d-inline-block">Listado</h5>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <a href="@Url.Action("informacion", "contacto", new { area = "coadmin" })"><button type="button" class="btn btn-primary waves-effect waves-light float-xl-right float-lg-right float-md-left mb-1">Agregar nuevo</button></a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="dataTable-tareas-completadas" class="table table-striped table-bordered normal" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>

                                            <th class="f-b">Compañía</th>
                                            <th class="f-b">Administrador</th>
                                            <th class="f-b">Presidente</th>
                                            <th class="f-b">Vicepresidente</th>
                                            <th class="f-b">Tesorero</th>
                                            <th class="text-center f-b">Opciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.contactList)
                                        {
                                        <tr>
                                            <td class="text-center">@item.company_admin</td>
                                            <td class="text-center">@item.coordinator</td>
                                            <td class="text-center">@item.president</td>
                                            <td class="text-center">@item.vice_president</td>
                                            <td class="text-center">@item.treasurer</td>

                                            <td class="text-center">
                                                <a href="@Url.Action("editar", "contacto", new { area = "coadmin", contractID = item.id })">
                                                    <button type="button" class="btn btn-primary waves-effect waves-light btn-sm mr-1 mb-1"
                                                            data-toggle="tooltip" data-placement="top" title="Editar">
                                                        <i class="mdi mdi-lead-pencil"></i>
                                                    </button>
                                                </a>

                                                <button type="button" onclick="onDeleteContacto(this)" data-id="@item.id"
                                                        class="btn btn-danger waves-effect waves-light btn-sm mb-1"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Eliminar">
                                                    <i class="mdi mdi-delete"></i>
                                                </button>
                                            </td>


                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- end row -->










            <div class="row pb-4">
                <div class="col-md-6">
                    <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                </div>
            </div>
            @*<!DOCTYPE html>

            <html>
            <head>
                <meta name="viewport" content="width=device-width" />
                <title></title>
            </head>
            <body>
                <div>

                </div>
            </body>
        </html>*@
