
@{
    ViewBag.Title = "agregar";
    Page.Title = "Agregar evento - Brokolee Software";
}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Agregar evento</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de control</a></li>
                            @if (ViewBag.Place != null)
                            {
                                if (ViewBag.Place == 1)
                                {
                                    <li class="breadcrumb-item"><a href="@Url.Action("otros", "eventos", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Calendario de eventos</a></li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item"><a href="@Url.Action("registrados", "eventos", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Ultimos eventos registrados</a></li>
                                }
                            }
                            <li class="breadcrumb-item active">Agregar evento</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                @if (ViewBag.Place != null)
                {
                    if (ViewBag.Place == 1)
                    {
                        <a href="@Url.Action("otros", "eventos", new { area = "coadmin" })"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                    }
                    else
                    {
                        <a href="@Url.Action("registrados", "eventos", new { area = "coadmin" })"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                    }
                }
                else
                {
                    <a href="@Url.Action("panel", "control", new { area = "coadmin" })"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                }

            </div>
        </div>
        <!-- end back button -->

        <div class="row">

            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("newevent", "eventos",
                        FormMethod.Post, 
                        new { id = "neweventForm",
                            @class = "",
                            area = "coadmin" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="card-body">
                        <h5 class="d-inline-block">Nuevo evento</h5>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-email-input" class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <input maxlength="30" class="form-control" type="text" value="" placeholder="Nombre"
                                       data-toggle="tooltip" title="Nombre del evento"
                                       id="example-email-input" name="name" required>
                                <small class="form-text text-muted">Nombre del evento</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-date-input" class="col-sm-3 col-form-label">Fecha</label>
                            <div class="col-sm-9">
                                <input autocomplete="off" class="form-control" type="date" name="event_date"
                                       data-toggle="tooltip" title="Mes / día / año | Fecha del evento"
                                       value="" id="example-date-input" required>
                                <small class="form-text text-muted">Mes / día / año | Fecha del evento</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-time-input" class="col-sm-3 col-form-label">Hora</label>
                            <div class="col-sm-9">
                                <input autocomplete="off" class="form-control" type="time" name="event_time"
                                       data-toggle="tooltip" title="Hora del evento"
                                       value="" id="example-time-input" required>
                                <small class="form-text text-muted">Hora del evento</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-lastname1-input" class="col-sm-3 col-form-label">Lugar</label>
                            <div class="col-sm-9">
                                <input maxlength="30" class="form-control" type="text" value="" name="place"
                                       data-toggle="tooltip" title="Lugar del evento"
                                       placeholder="Lugar" id="example-lastname1-input" required />
                                <small class="form-text text-muted">Lugar del evento</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-address1-input" class="col-sm-3 col-form-label">Compartir / Privado</label>
                            <div class="col-sm-9">
                                <div class="form-check-inline my-2">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="share" value="1" id="customCheck6"
                                               checked data-parsley-multiple="groups" data-parsley-mincheck="2">
                                        <label class="custom-control-label" for="customCheck6">General</label>
                                    </div>
                                </div>
                                <div class="form-check-inline my-2">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck7" name="share"
                                               value="2" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                        <label class="custom-control-label" for="customCheck7">Administradores</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-lastname1-input" class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <textarea maxlength="90" required class="form-control" rows="3" name="description"
                                          placeholder="Descripción" data-toggle="tooltip" title="Descripción del evento"></textarea>
                                <small class="form-text text-muted">Descripción del evento</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-lastname1-input" class="col-sm-3 col-form-label">Nota</label>
                            <div class="col-sm-9">
                                <textarea maxlength="90" required class="form-control" rows="3" name="note"
                                          data-toggle="tooltip" title="Nota escrita por el administrador"
                                          placeholder="Nota"></textarea>
                                <small class="form-text text-muted">Nota escrita por el administrador</small>
                            </div>
                        </div>
                        <a href=""><button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button></a>
                        @if (ViewBag.Place != null)
                        {
                            if (ViewBag.Place == 1)
                            {
                                <a href="@Url.Action("otros", "eventos", new { area = "coadmin" })"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                            }
                            else
                            {                                
                                <a href="@Url.Action("registrados", "eventos", new { area = "coadmin" })"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("panel", "control", new { area = "coadmin" })"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                        }

                    </div>
                    }
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                @if (ViewBag.Place != null)
                {
                    if (ViewBag.Place == 1)
                    {
                        <a href="@Url.Action("otros", "eventos", new { area = "coadmin" })"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                    }
                    else
                    {
                        <a href="@Url.Action("registrados", "eventos", new { area = "coadmin" })"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                    }
                }
                else
                {
                    <a href="@Url.Action("panel", "control", new { area = "coadmin" })"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                }
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->