
@{
    ViewBag.Title = "editar";
    Page.Title = "Editar Evento - Brokolee Software";
}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Editar Evento</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de Control</a></li>
                            <li class="breadcrumb-item active">Editar Evento</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        <div class="row">

            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("editevent", "eventos",
                        FormMethod.Post,
                        new {
                            id = "editeventForm",
                            @class = "",
                            area = "coadmin"
                        }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@Model.editEvent.id" name="editID"/>
                        <div class="card-body">
                            <h5 class="d-inline-block">Aniversario del Condominio</h5>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Nombre</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="@Model.editEvent.name" name="name"
                                           data-toggle="tooltip" title="Nombre del evento"
                                           placeholder="Aniversario del Condominio" id="example-email-input" required />
                                    <small class="form-text text-muted">Nombre del evento</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-date-input" class="col-sm-3 col-form-label">Fecha</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="date" data-toggle="tooltip" title="Mes / día / año | Fecha del evento"
                                           value="@Convert.ToDateTime(Model.editEvent.event_date).ToString("yyyy-MM-dd")"
                                           id="example-date-input" name="event_date" required>
                                    <small class="form-text text-muted">Mes / día / año | Fecha del evento</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-time-input" class="col-sm-3 col-form-label">Hora</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="time" name="event_time"
                                           value="@Convert.ToDateTime(Model.editEvent.event_date).ToString("HH:mm")"
                                           data-toggle="tooltip" title="Hora del evento"
                                           id="example-time-input" required />
                                    <small class="form-text text-muted">Hora del evento</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Lugar</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="@Model.editEvent.place"
                                           placeholder="Salón de Eventos" name="place"
                                           data-toggle="tooltip" title="Lugar del evento"
                                           id="example-lastname1-input" required>
                                    <small class="form-text text-muted">Lugar del evento</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-address1-input" class="col-sm-3 col-form-label">Compartir / Privado</label>
                                <div class="col-sm-9">
                                    <div class="form-check-inline my-2">
                                        <div class="custom-control custom-checkbox">
                                            @if (Model.editEvent.share == 1)
                                            {
                                                <input type="checkbox" class="custom-control-input" name="share" value="1" id="customCheck6" checked data-parsley-multiple="groups" data-parsley-mincheck="2">
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="custom-control-input" name="share" value="1" id="customCheck6"  data-parsley-multiple="groups" data-parsley-mincheck="2">
                                            }

                                            <label class="custom-control-label" for="customCheck6">General</label>
                                        </div>
                                    </div>
                                    <div class="form-check-inline my-2">
                                        <div class="custom-control custom-checkbox">
                                            @if (Model.editEvent.share == 2)
                                            {
                                                <input type="checkbox" class="custom-control-input" id="customCheck7" name="share" value="2" checked data-parsley-multiple="groups" data-parsley-mincheck="2">
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="custom-control-input" id="customCheck7" name="share" value="2" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                            }

                                            <label class="custom-control-label" for="customCheck7">Administradores</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Descripción</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="3" name="description" 
                                              data-toggle="tooltip" title="Descripción del evento"
                                              placeholder="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.">@Model.editEvent.description</textarea>
                                    <small class="form-text text-muted">Descripción del evento</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Nota</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="3" name="note" 
                                              data-toggle="tooltip" title="Nota escrita por el administrador"
                                              placeholder="Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.">@Model.editEvent.note</textarea>
                                    <small class="form-text text-muted">Nota escrita por el administrador</small>
                                </div>
                            </div>
                            <a href=""><button type="submit" class="btn btn-primary waves-effect waves-light">Editar Evento</button></a>
                            <a href=""><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                        </div>
                    }
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->