<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@Page.Title</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="themesdesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/plugins/animate/animate.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css">
</head>


<body class="bg-full-screen-image">
    <!-- Begin page -->
    <script type="text/javascript" src="~/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/modernizr.min.js"></script>
    <script type="text/javascript" src="~/assets/js/detect.js"></script>
    <script type="text/javascript" src="~/assets/js/fastclick.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/assets/js/waves.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.scrollTo.min.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    @RenderBody()
    <script>
        $("#id_login_password").on("keypress", function (e) {
            if (e.keyCode === 13) {
                var result = true;
                if ($("#id_login_password").val() === "") {
                    $("#id_login_password").addClass("ck-alert-required");
                    $("#id_login_password").focus();
                    result = false;
                } else {
                    $("#id_login_password").removeClass("ck-alert-required");
                }

                if ($("#id_login_email").val() === "") {
                    $("#id_login_email").addClass("ck-alert-required");
                    $("#id_login_email").focus();
                    result = false;
                } else {
                    $("#id_login_email").removeClass("ck-alert-required");
                }

                if (result) {
                    // Login Ajax
                    var name = $("#id_login_email").val();
                    var password = $("#id_login_password").val();
                    var rememberme = false;
                    if ($("#customCheck1").prop("checked") == true) {
                        rememberme = true;
                    }
                    var url = "@Url.Action("PerformLogin", "iniciar")";

                    $.ajax({
                        url: url,
                        type: "post",
                        data: {
                            email: name,
                            password: password,
                            rememberme: rememberme
                        },
                        success: function (result) {
                            if (result.result === "success") {
                                location.reload();
                            } else if (result.result === "email does not exist") {
                                //alertModal("Email does not exist!")
                                $("#id-email-error").text("El e-mail es incorrecto por favor intente denuevo")
                            } else if (result.result === "username does not exist") {
                                $("#id-email-error").text("El e-mail es incorrecto por favor intente denuevo")
                            } else if (result.result === "password is wrong") {
                                $("#id-password-error").text("El password es incorrecto por favor intente denuevo")
                            } else if (result.result === "server is error") {
                                alert("Server has a fault!");
                            } else if (result.result === "disabled") {
                                alert("User has been disabled");
                            } else if (result.result === "Lo sentimos, este usuario ha sido temporaremente desactivado") {
                                 $("#id-password-error").text("Lo sentimos, este usuario ha sido temporaremente desactivado")
                            }

                        }
                    });
                }
                return false;
            }
        });

        $("#id_login_email").on("keypress", function (e) {
            if (e.keyCode === 13) {
                var result = true;
                if ($("#id_login_password").val() === "") {
                    $("#id_login_password").addClass("ck-alert-required");
                    $("#id_login_password").focus();
                    result = false;
                } else {
                    $("#id_login_password").removeClass("ck-alert-required");
                }

                if ($("#id_login_email").val() === "") {
                    $("#id_login_email").addClass("ck-alert-required");
                    $("#id_login_email").focus();
                    result = false;
                } else {
                    $("#id_login_email").removeClass("ck-alert-required");
                }

                if (result) {
                    // Login Ajax
                    var name = $("#id_login_email").val();
                    var password = $("#id_login_password").val();
                    var rememberme = false;
                    if ($("#customCheck1").prop("checked") == true) {
                        rememberme = true;
                    }
                    var url = "@Url.Action("PerformLogin", "iniciar")";

                    $.ajax({
                        url: url,
                        type: "post",
                        data: {
                            email: name,
                            password: password,
                            rememberme: rememberme
                        },
                        success: function (result) {
                            if (result.result === "success") {
                                location.reload();
                            } else if (result.result === "email does not exist") {
                                //alertModal("Email does not exist!")
                                $("#id-email-error").text("El e-mail es incorrecto por favor intente denuevo")
                            } else if (result.result === "username does not exist") {
                                $("#id-email-error").text("El e-mail es incorrecto por favor intente denuevo")
                            } else if (result.result === "password is wrong") {
                                $("#id-password-error").text("El password es incorrecto por favor intente denuevo")
                            } else if (result.result === "server is error") {
                                console.log(result.exception);
                                alert("Server has a fault!");
                            } else if (result.result === "disabled") {
                                alert("User has been disabled");
                            }else if (result.result === "Lo sentimos, este usuario ha sido temporaremente desactivado") {
                                 $("#id-password-error").text("Lo sentimos, este usuario ha sido temporaremente desactivado")
                            }

                        }
                    });
                }
                return false;
            }
        });

        function onLogin(self) {
            var result = true;
            if ($("#id_login_password").val() === "") {
                $("#id_login_password").addClass("ck-alert-required");
                $("#id_login_password").focus();
                result = false;
            } else {
                $("#id_login_password").removeClass("ck-alert-required");
            }

            if ($("#id_login_email").val() === "") {
                $("#id_login_email").addClass("ck-alert-required");
                $("#id_login_email").focus();
                result = false;
            } else {
                $("#id_login_email").removeClass("ck-alert-required");
            }


            if (result) {
                $(self).button("loading");
                // Login Ajax
                var name = $("#id_login_email").val();
                var password = $("#id_login_password").val();
                var rememberme = false;
                if ($("#customCheck1").prop("checked") == true) {
                    rememberme = true;
                }
                var url = "@Url.Action("PerformLogin", "iniciar")";

                $.ajax({
                    url: url,
                    type: "post",
                    data: {
                        email: name,
                        password: password,
                        rememberme: rememberme
                    },
                    success: function (result) {
                        $(self).button("reset");
                        if (result.result === "success") {
                            location.reload();
                        } else if (result.result === "email does not exist") {
                            //alertModal("Email does not exist!")
                            $("#id-email-error").text("El e-mail es incorrecto por favor intente denuevo")
                        } else if (result.result === "username does not exist") {
                            $("#id-email-error").text("El e-mail es incorrecto por favor intente denuevo")
                        } else if (result.result === "password is wrong") {
                            $("#id-password-error").text("El password es incorrecto por favor intente denuevo")
                        } else if (result.result === "server is error") {
                            alert("Server has a fault!");
                        } else if (result.result === "disabled") {
                            alert("User has been disabled");
                        }else if (result.result === "Lo sentimos, este usuario ha sido temporaremente desactivado") {
                                 $("#id-password-error").text("Lo sentimos, este usuario ha sido temporaremente desactivado")
                            }

                    }
                });
            }
        }

        function onChangeEmail() {
            $("#id-email-error").text("");
            $("#id-password-error").text("");
        }

        function onChangePassword() {
            $("#id-password-error").text("");
            $("#id-email-error").text("");
        }
    </script>
</body>
</html>