<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@Page.Title</title>
    <meta content="Software para administrar comunidades" name="description" />
    <meta content="zerosystempr" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!--calendar css-->
    <link rel="stylesheet" href="~/assets/plugins/fullcalendar/css/fullcalendar.min.css" type="text/css" />
    <!-- DataTables -->
    <link href="~/assets/plugins/datatables/dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap rating css -->
    <link href="~/assets/plugins/bootstrap-rating/bootstrap-rating.css" rel="stylesheet" type="text/css">

    <script src="/signalr/hubs" type="text/javascript"></script>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    @*<link href="~/assets/plugins/animate/animate.css" rel="stylesheet" type="text/css">*@
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-multiselect.css">


    <style>
        .search-form {
            display: inline-flex;
            width: 100%;
        }

        .text-grey {
            color: #bec0c2;
        }

        .cur-user-span {
            color: #ff0000;
        }

        .sel-user-span {
            color: #00ff00;
        }

        #txtMessage {
            background-color: lightgray;
        }

        #menu {
            width: 120px;
            box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
            position: relative;
            display: none;
            position: absolute;
            background-color: white;
        }

        .menu-options {
            list-style: none;
            padding: 10px 0;
            margin-bottom: 0;
        }

        .menu-option {
            font-weight: 500;
            font-size: 14px;
            padding: 10px 40px 10px 20px;
            cursor: pointer;
        }

            .menu-option:hover {
                background: rgba(0, 0, 0, 0.2);
            }

        #dataTable-directorio-suplidores_filter {
            display: none !important;
        }
    </style>
</head>


<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left">
                <i class="ion-close"></i>
            </button>

            <!-- LOGO -->
            <div class="topbar-left m-b-10">
                <div class="text-center p-b-10">
                    <a href="@Url.Action("panel", "control", new { area = "webmaster" })" class="logo"><img src="~/assets/images/logo.png" height="100" alt="logo Brokolee Software"></a>
                </div>
            </div>


            <div class="sidebar-inner slimscrollleft" id="sidebar-main">

                <!-- LOGO CONDOMINIO -->
                <div class="m-b-10 title-condominio">
                    <div class="text-center">
                        <h6>@Model.curUser.first_name1 @Model.curUser.last_name1</h6>
                        @*<a class="text-success" href="#">@Model.communityList<span class="waves-block">@Model.communityApart</span></a>*@
                        @*@if (Model.communityList.Count == 0)
                            {
                                <span class="waves-block">Sin comunidades</span>
                            }
                            else
                            {
                                <select class="form-control selectComunidad" onchange="ChangeCommunity(this)" name="communitySelect">
                                    @foreach (var item in Model.communityList)
                                    {
                                        if (Convert.ToInt64(Session["CURRENT_COMU"]) == item.id)
                                        {
                                            <option value="@item.id" selected>@item.first_name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.id">@item.first_name</option>
                                        }
                                    }
                                </select>
                            }*@
                        <p class="text-primary text-uppercase"><sub><i class="mdi mdi-checkbox-blank-circle"></i> Activo</sub></p>
                    </div>

                </div>

                <div id="sidebar-menu">
                    <ul>

                        @if (Model.side_menu == "control_panel")
                        {
                            <li class="active">
                                <a href="@Url.Action("panel", "control", new { area = "webmaster" })" class="waves-effect waves-light active"><i class="mdi mdi-home-modern"></i>Panel de control</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("panel", "control", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-home-modern"></i>Panel de control</a>
                            </li>
                        }

                        @if (Model.side_menu == "pagos")
                        {
                            <li class="active">
                                <a href="@Url.Action("recibidos", "pagos", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-cash"></i><span> Pagos Recibidos </span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("recibidos", "pagos", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-cash"></i><span> Pagos Recibidos </span></a>
                            </li>
                        }

                        @if (Model.side_sub_menu == "paquete_listado")
                        {
                            <li class="active">
                                <a href="@Url.Action("listado", "paquetes", new { area = "webmaster" })" class="waves-effect waves-light active"><i class="mdi mdi-briefcase"></i><span> Paquetes de Servicios </span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("listado", "paquetes", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-briefcase"></i><span> Paquetes de Servicios </span></a>
                            </li>
                        }

                        @if (Model.side_sub_menu == "administradores_listado")
                        {
                            <li class="active">
                                <a href="@Url.Action("listado", "administradores", new { area = "webmaster" })" class="waves-effect waves-light active"><i class="mdi mdi-account-key"></i><span> Administradores </span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("listado", "administradores", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-account-key"></i><span> Administradores </span></a>
                            </li>
                        }

                        @if (Model.side_sub_menu == "webmaster_listado")
                        {
                            <li class="active">
                                <a href="@Url.Action("listado", "webmaster", new { area = "webmaster" })" class="waves-effect waves-light active"><i class="mdi mdi-account-key"></i><span> Webmaster </span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("listado", "webmaster", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-account-key"></i><span> Webmaster </span></a>
                            </li>
                        }


                        @if (Model.side_sub_menu == "titulares_listado")
                        {
                            <li class="active">
                                <a href="@Url.Action("listado", "titulares", new { area = "webmaster" })" class="waves-effect waves-light active"><i class="mdi mdi-account-multiple"></i><span>Titulares </span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("listado", "titulares", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-account-multiple"></i><span>Titulares </span></a>
                            </li>
                        }

                        @if (Model.side_sub_menu == "category_directory")
                        {
                            <li class="active">
                                <a href="@Url.Action("listado", "categorias", new { area = "webmaster" })" class="waves-effect waves-light active"><i class="mdi mdi-format-list-bulleted"></i><span> Categorias</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("listado", "categorias", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-format-list-bulleted"></i><span> Categorias</span></a>
                            </li>
                        }

                        @if (Model.side_sub_menu == "supplier_directory")
                        {
                            <li class="active">
                                <a href="@Url.Action("listado", "suplidores", new { area = "webmaster" })" class="waves-effect waves-light active"><i class="mdi mdi-account-key"></i><span> Directorio de suplidores </span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("listado", "suplidores", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-account-key"></i><span> Directorio de suplidores </span></a>
                            </li>
                        }

                        @if (Model.side_sub_menu == "comunidades_listado")
                        {
                            <li class="active">
                                <a href="@Url.Action("listado", "comunidades", new { area = "webmaster" })" class="waves-effect waves-light active"><i class="mdi mdi-hospital-building"></i><span> Comunidades </span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("listado", "comunidades", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-hospital-building"></i><span> Comunidades </span></a>
                            </li>
                        }



                        @if (Model.side_sub_menu == "comunicaciones_blog")
                        {
                            <li class="active">
                                <a href="@Url.Action("blog", "comunicaciones", new { area = "webmaster" })" class="active"><i class="mdi mdi-message-draw"></i>Blog General</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("blog", "comunicaciones", new { area = "webmaster" })"><i class="mdi mdi-message-draw"></i>Blog General</a>
                            </li>
                        }

                        @if (Model.side_sub_menu == "comunicaciones_privados")
                        {
                            <li class="active">

                                <a href="@Url.Action("privados", "comunicaciones", new { area = "webmaster" })" class="active">  <i class="mdi mdi-message-text"></i> Mensajería</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("privados", "comunicaciones", new { area = "webmaster" })"><i class="mdi mdi-message-text"></i>Mensajería</a>
                            </li>
                        }


                        @*<li class="has_sub">
            @if (Model.side_menu == "facilidades")
            {
                <a href="javascript:void(0);" class="waves-effect waves-light active"><i class="mdi mdi-apps"></i><span> Facilidades </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="list-unstyled">
                    @if (Model.side_sub_menu == "facilidades_disponibles")
                    {
                        <li class="active">
                            <a href="@Url.Action("disponibles", "facilidades", new { area = "webmaster" })" class="active">Facilidades disponibles</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("disponibles", "facilidades", new { area = "webmaster" })">Facilidades disponibles</a>
                        </li>
                    }

                    @if (Model.side_sub_menu == "facilidades_agregar")
                    {
                        <li class="active">
                            <a href="@Url.Action("agregar", "facilidades", new { area = "webmaster" })" class="active">Agregar facilidad</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("agregar", "facilidades", new { area = "webmaster" })">Agregar facilidad</a>
                        </li>
                    }

                    @if (Model.side_sub_menu == "facilidades_reservar")
                    {
                        <li class="active">
                            <a href="@Url.Action("reservar", "facilidades", new { area = "webmaster" })" class="active">Reservar facilidad</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("reservar", "facilidades", new { area = "webmaster" })">Reservar facilidad</a>
                        </li>
                    }

                    @if (Model.side_sub_menu == "facilidades_solicitudes")
                    {
                        <li class="active">
                            <a href="@Url.Action("solicitudes", "facilidades", new { area = "webmaster" })" class="active">Solicitudes de aprobación</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("solicitudes", "facilidades", new { area = "webmaster" })">Solicitudes de aprobación</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <a href="javascript:void(0);" class="waves-effect waves-light"><i class="mdi mdi-apps"></i><span> Facilidades </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("disponibles", "facilidades", new { area = "webmaster" })">Facilidades disponibles</a></li>
                    <li><a href="@Url.Action("agregar", "facilidades", new { area = "webmaster" })">Agregar facilidad</a></li>
                    <li><a href="@Url.Action("reservar", "facilidades", new { area = "webmaster" })">Reservar facilidad</a></li>
                    <li><a href="@Url.Action("solicitudes", "facilidades", new { area = "webmaster" })">Solicitudes de aprobación</a></li>
                </ul>
            }
        </li>

        <li class="has_sub">
            @if (Model.side_menu == "contratos")
            {
                <a href="javascript:void(0);" class="waves-effect waves-light"><i class="mdi mdi-file-multiple"></i> <span> Contratos </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="list-unstyled">
                    @if (Model.side_sub_menu == "contratos_listado")
                    {
                        <li class="active">
                            <a href="@Url.Action("listado", "contratos", new { area = "webmaster" })" class="active">Listado de contratos</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("listado", "contratos", new { area = "webmaster" })">Listado de contratos</a>
                        </li>
                    }

                    @if (Model.side_sub_menu == "contratos_agregar")
                    {
                        <li class="active">
                            <a href="@Url.Action("agregar", "contratos", new { area = "webmaster" })" class="active">Agregar contrato</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("agregar", "contratos", new { area = "webmaster" })">Agregar contrato</a>
                        </li>
                    }

                    @if (Model.side_sub_menu == "contratos_archivados")
                    {
                        <li class="active">
                            <a href="@Url.Action("archivados", "contratos", new { area = "webmaster" })" class="active">Contratos archivados</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("archivados", "contratos", new { area = "webmaster" })">Contratos archivados</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <a href="javascript:void(0);" class="waves-effect waves-light"><i class="mdi mdi-file-multiple"></i> <span> Contratos </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("listado", "contratos", new { area = "webmaster" })">Listado de contratos</a></li>
                    <li><a href="@Url.Action("agregar", "contratos", new { area = "webmaster" })">Agregar contrato</a></li>
                    <li><a href="@Url.Action("archivados", "contratos", new { area = "webmaster" })">Contratos archivados</a></li>
                </ul>
            }
        </li>*@

                        @*@if (Model.side_menu == "contacto")
        {
            <li class="active">
                <a href="@Url.Action("informacion", "contacto", new { area = "webmaster" })"
                   class="waves-effect waves-light active">
                    <i class="mdi mdi-contact-mail"></i>
                    <span> Información de contacto </span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="@Url.Action("informacion", "contacto", new { area = "webmaster" })"
                   class="waves-effect waves-light">
                    <i class="mdi mdi-contact-mail"></i>
                    <span> Información de contacto </span>
                </a>
            </li>
        }*@


                        <li class="has_sub">
                            @if (Model.side_menu == "plantillas")
                            {
                                <a href="javascript:void(0);" class="waves-effect waves-light active">
                                    <i class="mdi mdi-email-open"></i>
                                    <span> Plantillas de email </span>
                                    <span class="float-right">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled">
                                    @if (Model.side_sub_menu == "plantillas_listado")
                                    {
                                        <li class="active">
                                            <a href="@Url.Action("listado", "plantillas", new { area = "webmaster" })" class="active">Listado de Plantillas</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("listado", "plantillas", new { area = "webmaster" })">Listado de Plantillas</a>
                                        </li>
                                    }

                                    @if (Model.side_sub_menu == "plantillas_crear")
                                    {
                                        <li class="active">
                                            <a href="@Url.Action("crear", "plantillas", new { area = "webmaster" })" class="active">Crear Plantilla</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("crear", "plantillas", new { area = "webmaster" })">Crear Plantilla</a>
                                        </li>
                                    }

                                    @*@if (Model.side_sub_menu == "plantillas_tema")
                    {
                        <li class="active">
                            <a href="@Url.Action("tema", "plantillas", new { area = "webmaster" })" class="active">Tema Plantilla</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("tema", "plantillas", new { area = "webmaster" })">Tema Plantilla</a>
                        </li>
                    }*@
                                </ul>
                            }
                            else
                            {
                                <a href="javascript:void(0);" class="waves-effect waves-light"><i class="mdi mdi-email-open"></i> <span> Plantillas de email </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("listado", "plantillas", new { area = "webmaster" })">Listado de Plantillas</a></li>
                                    <li><a href="@Url.Action("crear", "plantillas", new { area = "webmaster" })">Crear Plantilla</a></li>
                                    <li><a href="@Url.Action("tema", "plantillas", new { area = "webmaster" })">Tema Plantilla</a></li>
                                </ul>
                            }
                        </li>

                        @*<li class="has_sub">
            @if (Model.side_menu == "tooltips")
            {
                <a href="javascript:void(0);" class="waves-effect waves-light active"><i class="mdi mdi-message-text"></i> <span> Tooltips </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="list-unstyled">
                    @if (Model.side_menu == "tooltips_titular")
                    {
                        <li class="active">
                            <a href="@Url.Action("listado", "tooltips", new { area = "webmaster", t = "titular" })" class="active">Titulares</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("listado", "tooltips", new { area = "webmaster", t = "titular" })">Titulares</a>
                        </li>
                    }

                    @if (Model.side_sub_menu == "tooltips_coamdin")
                    {
                        <li class="active">
                            <a href="@Url.Action("listado", "tooltips", new { area = "webmaster", t = "coadmin" })" class="active">Administradores</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("listado", "tooltips", new { area = "webmaster", t = "coadmin" })">Administradores</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <a href="javascript:void(0);" class="waves-effect waves-light"><i class="mdi mdi-message-text"></i> <span> Tooltips </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("listado", "tooltips", new { area = "webmaster", t = "titular" })">Titulares</a></li>
                    <li><a href="@Url.Action("listado", "tooltips", new { area = "webmaster", t = "coadmin" })">Administradores</a></li>
                </ul>
            }
        </li>*@

                        <li>
                            @if (Model.side_menu == "tecnico")
                            {
                                <a href="@Url.Action("soporte", "tecnico", new { area = "webmaster" })" class="waves-effect waves-light active"><i class="mdi mdi-comment-processing"></i><span> Soporte técnico </span></a>
                            }
                            else
                            {
                                <a href="@Url.Action("soporte", "tecnico", new { area = "webmaster" })" class="waves-effect waves-light"><i class="mdi mdi-comment-processing"></i><span> Soporte técnico </span></a>
                            }

                        </li>

                        <li class="has_sub">
                            @if (Model.side_menu == "uso")
                            {
                                <a href="javascript:void(0);" class="waves-effect waves-light active"><i class="mdi mdi-copyright"></i> <span> Políticas de Uso </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="list-unstyled">
                                    @if (Model.side_sub_menu == "uso_privacidad")
                                    {
                                        <li class="active">
                                            <a href="@Url.Action("privacidad", "uso", new { area = "webmaster" })" class="active">Aviso de privacidad</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("privacidad", "uso", new { area = "webmaster" })">Aviso de privacidad</a>
                                        </li>
                                    }

                                    @if (Model.side_sub_menu == "uso_terminos")
                                    {
                                        <li class="active">
                                            <a href="@Url.Action("terminos", "uso", new { area = "webmaster" })" class="active">Términos de uso</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("terminos", "uso", new { area = "webmaster" })">Términos de uso</a>
                                        </li>
                                    }

                                    @if (Model.side_sub_menu == "uso_reservados")
                                    {
                                        <li class="active">
                                            <a href="@Url.Action("reservados", "uso", new { area = "webmaster" })" class="active">Derechos reservados</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("reservados", "uso", new { area = "webmaster" })">Derechos reservados</a>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <a href="javascript:void(0);" class="waves-effect waves-light"><i class="mdi mdi-copyright"></i> <span> Políticas de Uso </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("privacidad", "uso", new { area = "webmaster" })">Aviso de privacidad</a></li>
                                    <li><a href="@Url.Action("terminos", "uso", new { area = "webmaster" })">Términos de uso</a></li>
                                    <li><a href="@Url.Action("reservados", "uso", new { area = "webmaster" })">Derechos reservados</a></li>
                                </ul>
                            }
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- end sidebarinner -->
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                <!-- Top Bar Start -->
                <div class="topbar">
                    <nav class="navbar-custom">
                        <ul class="list-inline float-right mb-0">
                            <li class="list-inline-item dropdown notification-list" id="list-inline-item-1">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-wechat noti-icon"></i>
                                    @if (Model.messageCount > 0)
                                    {
                                        <span class="badge badge-danger noti-icon-badge">@Model.messageCount</span>
                                    }
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5>
                                            @if (Model.messageCount > 0)
                                            {
                                                <span class="badge badge-danger float-right">@Model.messageCount</span>
                                            }
                                            Mensajes privados
                                        </h5>
                                    </div>

                                    @foreach (var item in Model.pubMessageList)
                                    {
                                        <!-- item-->
                                        <a href="@Url.Action("privados", "comunicaciones", new { area = "webmaster" })" class="dropdown-item notify-item">
                                            <div class="notify-icon">
                                                @if (item.image_path != null)
                                                {
                                                    <img src="~/Upload/User_Logo/@item.image_path" alt="user-img" class="img-fluid rounded-circle" />
                                                }
                                                else
                                                {
                                                    <img src="~/assets/images/user.svg" alt="user-img" class="img-fluid rounded-circle" />
                                                }
                                            </div>
                                            <p class="notify-details"><b>@item.username</b><small class="">You have @item.count_message unread messages.</small></p>
                                        </a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <!-- All-->
                                    <a href="@Url.Action("privados", "comunicaciones", new { area = "webmaster" })" class="dropdown-item notify-item">
                                        Ver todos los mensajes
                                    </a>
                                </div>
                            </li>

                            @*<li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <i class="mdi mdi-server noti-icon"></i>
                                        <span class="badge badge-success noti-icon-badge">3</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5><span class="badge badge-success float-right">3</span>Tareas en proceso</h5>
                                        </div>

                                        @foreach (var taskitem in Model.pubTaskList)
                                        {
                                            <!-- item-->
                                            <a href="@Url.Action("vertarea", "tareas", new { taskID=taskitem.id, area = "coadmin" })" class="dropdown-item notify-item">
                                            <p class="notify-details"><b>@taskitem.task_name</b></p>
                                            @if (taskitem.status == 3)
                                            {
                                                <p class="notify-details"><small class="text-right">100%</small></p>
                                                <div class="">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; border-radius: 50px;"></div>
                                                    </div>
                                                </div>
                                            }
                                            else if (taskitem.status == 2)
                                            {
                                                <p class="notify-details"><small class="text-right">50%</small></p>
                                                <div class="">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%; border-radius: 50px;"></div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <p class="notify-details"><small class="text-right">0%</small></p>
                                                <div class="">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; border-radius: 50px;"></div>
                                                    </div>
                                                </div>
                                            }
                                        </a>
                                        }
                                        <div class="dropdown-divider"></div>
                                        <!-- All-->
                                        <a href="@Url.Action("listado", "tareas", new { area = "webmaster" })" class="dropdown-item notify-item">
                                            Ver todas las tareas
                                        </a>
                                    </div>
                                </li>*@

                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    @if (Model.curUser.user_img != null)
                                    {
                                        <img src="~/Upload/User_Logo/@Model.curUser.user_img" alt="user" class="rounded-circle">
                                    }
                                    else
                                    {
                                        <img src="~/assets/images/user.svg" alt="user" class="rounded-circle">
                                    }
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5>@Model.curUser.first_name1 @Model.curUser.last_name1</h5>
                                    </div>
                                    <a class="dropdown-item" href="@Url.Action("editar", "webmaster", new { area = "webmaster", id = Model.curUser.id, Tipo = "Perfil" })"><i class="mdi mdi-account-circle "></i> Perfil</a>
                                    <div class="dropdown-divider"></div>
                                    @using (Html.BeginForm(
                                       "logout",
                                       "administrador",
                                       FormMethod.Post,
                                       new
                                       {
                                           id = "logoutForm",
                                           area = "webmaster",
                                           @class = ""
                                       }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a class="dropdown-item text-danger" href="javascript:{}" onclick="document.getElementById('logoutForm').submit();"><i class="mdi mdi-power text-danger"></i> Cerrar sesión</a>
                                    }
                                </div>
                            </li>
                        </ul>

                        <ul class="list-inline menu-left mb-0">
                            <li class="float-left">
                                <button class="button-menu-mobile open-left waves-light waves-effect">
                                    <i class="mdi mdi-menu"></i>
                                </button>
                            </li>
                            <li class="hide-phone app-search">

                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </nav>
                </div>
                <!-- Top Bar End -->
                @RenderBody()
                <!-- Page content Wrapper -->

            </div> <!-- content -->

            <footer class="footer">
                © @DateTime.Now.Year ZeroSystemPR.
            </footer>

        </div>
        <!-- End Right content here -->
        <div id="menu">
            <ul class="menu-options">
                <li class="menu-option" id="remove-menu-option">Remove</li>
            </ul>
        </div>
    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script type="text/javascript" src="~/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/modernizr.min.js"></script>
    <script type="text/javascript" src="~/assets/js/detect.js"></script>
    <script type="text/javascript" src="~/assets/js/fastclick.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/assets/js/waves.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.scrollTo.min.js"></script>

    <script src="~/Scripts/bootstrap-multiselect.js"></script>

    <!-- Required datatable js -->
    <script type="text/javascript" src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/datatables/json/Spanish.json"></script>

    <!-- Responsive examples -->
    <script type="text/javascript" src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Bootstrap rating js -->
    <script type="text/javascript" src="~/assets/plugins/bootstrap-rating/bootstrap-rating.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/emotion-rating/emotion-ratings.js"></script>
    <script type="text/javascript" src="~/assets/pages/rating-init.js"></script>

    <!--- TinyMCE -->
    <script type="text/javascript" src="~/assets/tinymce/js/tinymce/tinymce.min.js"></script>

    <!-- Jquery-Ui -->
    @*<script type="text/javascript" src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>*@
    <script type="text/javascript" src="~/assets/plugins/moment/moment.js"></script>
    <script type="text/javascript" src='~/assets/plugins/fullcalendar/js/fullcalendar.min.js'></script>
    <script type="text/javascript" src='~/assets/plugins/fullcalendar/locale/es.js'></script>
    <!-- App js -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <!--Reference the SignalR library. -->
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.3.0.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $('#blogTable').DataTable({
                "order": [[2, "desc"]]              
            });
        });


        //Solo texto. Validacion para inputs
        $('.soloTexto').bind('keypress', function (event) {
            var regex = new RegExp("^[a-zA-Z ]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });

        //Solo numero. Validacion para inputs
        $('.soloNumero').bind('keypress', function (event) {
            var regex = new RegExp("^[0-9]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });

        //Validacion dsolo un punto decimal y dos decimales
        function filterFloat(evt,input){
            // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
            var key = window.Event ? evt.which : evt.keyCode;    
            var chark = String.fromCharCode(key);
            var tempValue = input.value+chark;
            if(key >= 48 && key <= 57){
                if(filter(tempValue)=== false){
                    return false;
                }else{       
                    return true;
                }
            }else{
                if(key == 8 || key == 13 || key == 0) {     
                    return true;              
                }else if(key == 46){
                    if(filter(tempValue)=== false){
                        return false;
                    }else{       
                        return true;
                    }
                }else{
                    return false;
                }
            }
        }
        function filter(__val__) {
            var preg = /^([0-9]+\.?[0-9]{0,2})$/; 
            if(preg.test(__val__) === true){
                return true;
            }else{
                return false;
            }
    
        }

        //Validar si el checkbox de Arrendamiento fue activado

        $(document).ready(function(){  
            if ($("#customCheck6").is(':checked'))
            {  
                $(".hiddenRequired").attr('required', true);                              
            }

            $("#customCheck6").click(function () {  
            if($("#customCheck6").is(':checked')) {  
                $(".hiddenRequired").attr('required', true);                              
            } else {  
                 $(".hiddenRequired").prop('required', false);               
            }  
        });  
        $("#customCheck7").click(function() {  
            if($("#customCheck7").is(':checked')) {  
                $(".hiddenRequired").prop('required', false);                              
            } else {  
                  $(".hiddenRequired").attr('required', true);                              
            }  
        });       
});  
    </script>

    <!--empieza un script-->
    <script type="text/javascript">
        var ck_anim_element = null;
        var childern_clicked = false;
        var map = null;
        var loadMesgCount = 10;
        var topPosition = 0;
        var chatHub = null;

        tinymce.init({
            selector: ".tinymce",
            theme: "modern",
            menubar: false,
            resize: false,
            statusbar: false,
            plugins: ["advlist autolink lists charmap preview hr anchor",
                "pagebreak code nonbreaking table contextmenu directionality paste"],
            toolbar1: "styleselect | bold italic underline | pagebreak code preview | undo redo",
            toolbar2: "alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
        });

        $(function () {



            // Declare a proxy to reference the hub.
            chatHub = $.connection.chatHub;
            $.connection.hub.url = "/signalr";
            $.connection.hub.logging = true;

            chatHub.client.sendPrivateMessage = function (messageId, username, message, email) {
                //display the message
                if (message.indexOf("#&&#") != -1) {
                    $('.message-div').filter(function () {
                        return $(this).data('id') === messageId;
                    }).remove();
                } else {
                    if (messageId === 0) {
                        if (email === "Email") {
                            $("<div class='message-div sel-user-div' data-id='" + messageId + "'><span class='sel-user-span'>" + username + ": </span> <a href='/Upload/Upload_Send/" + message + "'>" + message + "</a></div > ").appendTo("#chat_box");
                        } else {
                            $("<div class='message-div sel-user-div' data-id='" + messageId + "'><span class='sel-user-span'>" + username + ": </span> <span>" + message + "</span></div > ").appendTo("#chat_box");
                        }
                    } else {
                        if (email === "Email") {
                            $("<div class='message-div cur-user-div' data-id='" + messageId + "'><span class='cur-user-span'>" + username + ": </span><a href='/Upload/Upload_Send/" + message + "'>" + message + "</a></div>").appendTo("#chat_box");
                        } else {
                            $("<div class='message-div cur-user-div' data-id='" + messageId + "'><span class='cur-user-span'>" + username + ": </span><span>" + message + "</span></div>").appendTo("#chat_box");
                        }
                    }
                }

                $("#chat_box").animate({ scrollTop: 1000 }, "slow");
            };

            $.connection.hub.start({ transport: 'longPolling' }, function () {
                console.log('connection started!');
                $("#chat_box").animate({ scrollTop: 1000 }, "slow");
                registerEvents(chatHub);
            });
            refreshContextEvent();
        });

        var menu = document.getElementById("menu");
        var delMessageId = 0;

        window.addEventListener("click", function (e) {
            menu.style.display = "none";
        })

        function refreshContextEvent() {
            $(".cur-user-div").on('contextmenu', function (e) {
                e.preventDefault();
                delMessageId = $(this).data('id');
                menu.style.left = `${e.pageX}px`;
                menu.style.top = `${e.pageY}px`;
                menu.style.display = "block";
                return false;
            });
        }

        $("#remove-menu-option").on('click', function () {
            var msg = delMessageId + ":#&&#";
            var userId = $('#hdToUserID').val();
            chatHub.server.sendPrivateMessage(userId, msg, 'Click', 'Not Email');
        });

         function onSelectChatUser(self) {
            var selectUserId = $(self).data("id");
            console.log("selectUserId", selectUserId);
            $("#hdToUserID").val(selectUserId);

             var url = "@Url.Action("GetSelUser", "comunicaciones", new { area = "webmaster" })";


            $.ajax({
                url: url,
                type: "post",
                data: {
                    userId: selectUserId
                },
                success: function (result) {
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        if (result.imgtype === 1) {
                            document.getElementById("sel-user-img").src = "/assets/images/user.svg";
                        } else {
                            document.getElementById("sel-user-img").src = "/Upload/User_Logo/" + result.imgpath;
                        }

                        if (result.online == 1) {
                            if ($("#sel-user-status").hasClass("text-grey") == true) {
                                $("#sel-user-status").removeClass("text-grey");
                            }

                            if ($("#sel-user-status").hasClass("text-primary") == false) {
                                $("#sel-user-status").addClass("text-primary");
                            }

                            if ($("#connect-user-status-" + result.selUserId).hasClass("text-grey") == true) {
                                $("#connect-user-status-" + result.selUserId).removeClass("text-grey");
                            }

                            if ($("#connect-user-status-" + result.selUserId).hasClass("text-primary") == true) {
                                $("#connect-user-status-" + result.selUserId).addClass("text-primary");
                            }
                        } else {
                            if ($("#sel-user-status").hasClass("text-primary") == true) {
                                $("#sel-user-status").removeClass("text-primary");
                            }

                            if ($("#sel-user-status").hasClass("text-grey") == false) {
                                $("#sel-user-status").addClass("text-grey");
                            }

                            if ($("#connect-user-status-" + result.selUserId).hasClass("text-primary") == true) {
                                $("#connect-user-status-" + result.selUserId).removeClass("text-primary");
                            }

                            if ($("#connect-user-status-" + result.selUserId).hasClass("text-grey") == true) {
                                $("#connect-user-status-" + result.selUserId).addClass("text-grey");
                            }
                        }

                        $("#id-sel-username").text(result.name);
                        $("#hdToUserName").val(result.name);
                        $("#chat_box").html(result.html);
                        refreshContextEvent();
                    }
                }
            });
        }

        function registerEvents(chatHub) {
            var selfUserId = $('#hdUserID').val();
            if (selfUserId !== undefined) {
                if (selfUserId.length > 0) {
                    console.log("connected using user id");
                    chatHub.server.connect(selfUserId);
                }
                else {
                    alert("Please login to site");
                }
            }


            $("#txtMessage").keypress(function (e) {
                if (e.which === 13) {
                    $('#btnSendMsg').click();
                }
            });

            $('#btnSendMsg').click(function () {
                var msg = $("#txtMessage").val();
                if (msg.length > 0) {

                    var userId = $('#hdToUserID').val();
                    if (userId !== 0) {
                        chatHub.server.sendPrivateMessage(userId, msg, 'Click', 'Not Email');
                    }
                    $("#txtMessage").val('');
                }

                var sendFile = document.getElementById("send-file-3").files[0];
                if (sendFile !== null && sendFile !== undefined) {
                    var formData = new FormData();
                    formData.append("sendFile", sendFile);
                    var url = "@Url.Action("SendFile", "comunicaciones", new { area = "webmaster" })" ;

                    $.ajax({
                        url: url,
                        type: "POST",
                        data: formData,
                        success: function (result) {
                            if (result.result === "error") {
                                console.log('couln\'t get roles');
                            } else {
                                var userId = $('#hdToUserID').val();
                                var msg = result.fileName;
                                chatHub.server.sendPrivateMessage(userId, msg, 'Click', "Email");
                            }
                        },
                        processData: false,
                        contentType: false
                    });
                }
            });

        }

        function AddDivToContainer($div) {
            $('#divContainer').prepend($div);
            $div.draggable({
                handle: ".header",
                stop: function () {
                }
            });
        }

         function GenerateCalender(events) {
            console.log(events);
            /* initialize the calendar */
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                },
                events: events
            });

            /*Add new event*/
            // Form to add new event

            $("#add_event_form").on('submit', function (ev) {
                ev.preventDefault();

                var $event = $(this).find('.new-event-form'),
                    event_name = $event.val();

                if (event_name.length >= 3) {

                    var newid = "new" + "" + Math.random().toString(36).substring(7);
                    // Create Event Entry
                    $("#external-events").append(
                        '<div id="' + newid + '" class="fc-event">' + event_name + '</div>'
                    );


                    var eventObject = {
                        title: $.trim($("#" + newid).text()) // use the element's text as the event title
                    };

                    // store the Event Object in the DOM element so we can get to it later
                    $("#" + newid).data('eventObject', eventObject);

                    // Reset draggable
                    $("#" + newid).draggable({
                        revert: true,
                        revertDuration: 0,
                        zIndex: 999
                    });

                    // Reset input
                    $event.val('').focus();
                } else {
                    $event.focus();
                }
            });
        }

        $(document).ready(function () {
             //checking if plugin is available
            /* initialize the external events */
            $('#external-events .fc-event').each(function () {
                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true, // will cause the event to go back to its
                    revertDuration: 0 //  original position after the drag
                });

            });

            var events = [];
            var searchStr = $("#search-event-input").val();
            var url = "@Url.Action("GetEvents", "eventos", new { area = "webmaster" })";

            $.ajax({
                type: "GET",
                data: {
                    searchStr: searchStr
                },
                url: url,
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.title,
                            start: new Date(v.year, v.month, v.day, v.hour,v.minute ),
                            //end: v.dTskEnd != null ? moment(v.dTskEnd) : null,
                            url: "registrado?id=" + v.id
                        });
                    });

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            });

        });

        function onAdminInactive(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append('id', id);
            var url = "@Url.Action("AdminInactive", "administradores", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onAdminActive(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append('id', id);
            var url = "@Url.Action("AdminActive", "administradores", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onDeleteDocumentType(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeleteDocumentType", "documentos", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }


        function onDeleteContrato(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeleteContract", "contratos", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onDeleteEvent(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeleteEvent", "eventos", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onDeletePackage(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeletePackage", "paquetes", new { area = "webmaster" })";

            var respuesta = confirm("estas seguro que deseas eliminar el paquete");
        if (respuesta == true) {

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    console.log(result);
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        return false;

        }
        }

        function onDeleteFac(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeleteFac", "facilidades", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onDeleteSupplier(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeleteSupplier", "suplidores", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

         function onDeactiveResident(self) {
            $("#ck-body-loading-overlay").show();
            var id = $(self).data("id");
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeactiveUser", "titulares", new { area = "coadmin" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onActiveResident(self) {
            $("#ck-body-loading-overlay").show();
            var id = $(self).data("id");
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("ActiveUser", "titulares", new { area = "coadmin" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        //onDeactiveCommunity
          function onDeactiveCommunity(self) {
            $("#ck-body-loading-overlay").show();
            var id = $(self).data("id");
            var formData = new FormData();
            formData.append("id", id);

            var url = "@Url.Action("DeactiveCom", "comunidades", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onActiveCommunity(self) {
            $("#ck-body-loading-overlay").show();
            var id = $(self).data("id");
            var formData = new FormData();
            formData.append("id", id);

            var url = "@Url.Action("ActiveCom", "comunidades", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }







        //

         function onDeactiveWebmaster(self) {
            $("#ck-body-loading-overlay").show();
            var id = $(self).data("id");
            var formData = new FormData();
            formData.append("id", id);

            var url = "@Url.Action("DeactiveWeb", "webmaster", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onActiveWebmaster(self) {
            $("#ck-body-loading-overlay").show();
            var id = $(self).data("id");
            var formData = new FormData();
            formData.append("id", id);

            var url = "@Url.Action("ActiveWeb", "webmaster", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }






        //

        function onDeleteWebmaster(self) {

            var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeleteAdmin", "webmaster", new { area = "webmaster" })";

              var respuesta = confirm("estas seguro que deseas eliminar el webmaster");
        if (respuesta == true) {

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('Error: ' + result.exception);
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });

             } else {

            return false;
        }
        }
        function onDeleteCoadmin(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeleteAdmin", "administradores", new { area = "webmaster" })";

               var respuesta = confirm("¿Estás seguro que deseas eliminar este Administrador?");
        if (respuesta == true) {

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        } else {

            return false;
        }
        }
        function onDeleteTitulares(self) {

             var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);

            var url = "@Url.Action("DeleteTitulares", "titulares", new { area = "webmaster" })";

             var respuesta = confirm("estas seguro que deseas eliminar el titular");
        if (respuesta == true) {

             $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        } else {

            return false;

        }





        }

        function onDeleteCategorias(self) {
            var id = $(self).data('id');
            var formData = new FormData();
            formData.append("delID", id);
            var url = "@Url.Action("DeleteCatg", "categorias", new { area = "webmaster" })";
            var respuesta = confirm("¿Estas seguro que deseas eliminar la categoria? \n Ésta opción eliminará los suplidores asociados a esta categoría");
            if (respuesta == true) {
                $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                    contentType: false
                });
            } else {
                return false;
            }
        }

        function onDeleteCommunity(self) {

            var id = $(self).data("id");
            var formData = new FormData();
            formData.append("id", id);
            var url = "@Url.Action("DeleteCommunity", "comunidades", new { area = "webmaster" })";

             var respuesta = confirm("estas seguro que deseas eliminar la comunidad");
        if (respuesta == true) {

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });

            } else {

            return false;

        }
        }

             function onDeleteBlog(self) {

            var id = $(self).data("id");
            var formData = new FormData();
            formData.append("id", id);
            var url = "@Url.Action("DeleteBlog", "comunicaciones", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onSearchSupplierCategory() {
            $("#searchSupplierForm").submit();
        }

        $("#customCheck6").change(function () {
            if ($("#customCheck6").prop('checked')) {
                $("#customCheck7").prop('checked', false);
                $(".box").show();
            } else {
                $("#customCheck7").prop('checked', true);
                $(".box").hide();
            }
        });

        $("#customCheck7").change(function () {
            if ($("#customCheck7").prop('checked')) {
                $("#customCheck6").prop('checked', false);
                $(".box").hide();
            } else {
                $("#customCheck6").prop('checked', true);
                $(".box").show();
            }
        });

        $("#customCheck11").change(function () {
            if ($("#customCheck11").prop('checked')) {
                $("#customCheck12").prop('checked', false);
            } else {
                $("#customCheck12").prop('checked', true);
            }
        });

        $("#customCheck12").change(function () {
            if ($("#customCheck12").prop('checked')) {
                $("#customCheck11").prop('checked', false);
            } else {
                $("#customCheck11").prop('checked', true);
            }
        });

        $("#customCheck8").change(function () {
            if ($("#customCheck8").prop('checked')) {
                $("#customCheck9").prop('checked', false);
                $("#customCheck10").prop('checked', false);
            }
        });

        $("#customCheck9").change(function () {
            if ($("#customCheck9").prop('checked')) {
                $("#customCheck8").prop('checked', false);
                $("#customCheck10").prop('checked', false);
            }
        });

        $("#customCheck10").change(function () {
            if ($("#customCheck10").prop('checked')) {
                $("#customCheck8").prop('checked', false);
                $("#customCheck9").prop('checked', false);
            }
        });

        function onExportCSV() {
            $("#id_submit_csv").click();
        }

        $('#import_csv_btn').click(function (e) {
            e.preventDefault();
            $('#id_titular_file_csv').trigger('click');
        });

        $('#id_titular_file_csv').change(function () {
            if (document.getElementById("id_titular_file_csv").files.length !== 0) {
                $("#csvForm").submit();
            }
        });

        function onAddEmailTheme() {
            var content = $("#content").val();
            var typeID = $("#type_select").val();
            var formData = new FormData();
            formData.append("typeID", typeID);
            formData.append("content", content);
            var url = "@Url.Action("AddEmaulTheme", "plantillas", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onEditEmailTheme(self) {
            var editID = $(self).data("id");
            var content = $("#content-" + editID.toString()).val();

            var formData = new FormData();
            formData.append("editID", editID);
            formData.append("content", content);

            var url = "@Url.Action("EditEmailTheme", "plantillas", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }

        function onSetRead() {
            var toUserID = $("#hdUserID").val();
            var fromUserID = $("#hdToUserID").val();
            var formData = new FormData();
            formData.append("toUserID", toUserID);
            formData.append("fromUserID", fromUserID)

            var url = "@Url.Action("SetRead", "comunicaciones", new { area = "webmaster" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                    } else {
                        $("#list-inline-item-1").html(result.html);
                        //location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        }


        window.setInterval(function () {
            var selUserId;
            if ($("#hdToUserID").length != 0) {
                // Exist
                selUserId = $("#hdToUserID").val();
            } else {
                // Does not exist
                selUserId = 0;
            }
            var formData = new FormData();
            formData.append("SessionTimout", "check");
            formData.append("SelUserID", selUserId);

            var url = "@Url.Action("CheckTimeout", "administrador", new { area = "coadmin" })";

            $.ajax({
                url: url,
                type: "post",
                data: formData,
                success: function (result) {
                    $("#ck-body-loading-overlay").hide();
                    if (result.result === "error") {
                        console.log('couln\'t get roles');
                        if (result.connectedusers_html !== "") {
                            $("#connected_users_list").html(result.connectedusers_html);
                        }

                        if ($("#sel-user-status").length != 0) {
                            if (result.selLoginStatus == 1) {
                                if ($("#sel-user-status").hasClass('text-grey')) {
                                    $("#sel-user-status").removeClass('text-grey')
                                }

                                $("#sel-user-status").addClass('text-primary')
                            } else {
                                if ($("#sel-user-status").hasClass('text-primary')) {
                                    $("#sel-user-status").removeClass('text-primary')
                                }

                                $("#sel-user-status").addClass('text-grey')
                            }
                        }
                    } else {
                        document.getElementById('logoutForm').submit();
                    }
                },
                processData: false,
                contentType: false
            });
        }, 10000);
    </script>
</body>
</html>



    </script>
</body>
</html>