
@{
    ViewBag.Title = "agregar";
    Page.Title = "Agregar cuota - Brokolee Software";
}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Agregar Cuota</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de control</a></li>
                            <li class="breadcrumb-item active">Agregar cuota</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->
        <div class="row">

            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("addfee", "cuotas", FormMethod.Post, new
                    {
                        id = "addForm",
                        @class = "search-form",
                        area = "coadmin",
                        enctype = "multipart/form-data"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <h5 class="d-inline-block">Nueva cuota</h5>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Nombre de la cuota</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" name="fee_name" required
                                           placeholder="Cuota..." id="example-email-input">
                                    <small class="form-text text-muted">Nombre de la cuota</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-name1-input" class="col-sm-3 col-form-label">Costo</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" name="cost" required
                                           placeholder="0.00" id="example-name1-input">
                                    <small class="form-text text-muted">Costo</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-name1-input" class="col-sm-3 col-form-label">Cargo de impuestos</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" name="taxCharge" required
                                           placeholder="0.00" id="example-name1-input">
                                    <small class="form-text text-muted">Cargo de impuestos</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-name1-input" class="col-sm-3 col-form-label">Pena</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" name="penalty" required
                                           placeholder="0.00" id="example-name1-input">
                                    <small class="form-text text-muted">Pena</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Cuenta de banco</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="bank_id" required>
                                        <option value="">Elije una cuenta</option>
                                        @foreach (var item in Model.bankList)
                                        {
                                            if (item.id == Model.bankId)
                                            {
                                                <option value="@item.id" selected>@item.account_number</option>
                                            }
                                            else
                                            {
                                                <option value="@item.id">@item.account_number</option>
                                            }
                                        }
                                    </select>
                                    <small class="form-text text-muted">Cuenta de banco</small>
                                </div>
                                <div class="col-sm-3">
                                    <a href="@Url.Action("agregarcuenta", "cuotas", new {  area = "coadmin" })">
                                        <button type="button" class="btn btn-primary waves-effect waves-light">Agregar cuenta</button>
                                    </a>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Cuenta comercial</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" name="merchant_account" required
                                           placeholder="XXX-XXXXXXXX-X-XX" id="example-lastname1-input">
                                    <small class="form-text text-muted">Cuenta comercial</small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button>
                            <a href="javascript:history.back()"> <button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button>
</div>
                    }
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->