
@{
    ViewBag.Title = "agregar";
    Page.Title = "Agregar administrador - Brokolee Software";
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<style media="screen">
    #inputGroupFile04 {
        max-width: 150px;
        margin: 0 auto;
        height: 130px;
    }


    .garritas {
        max-width: 150px;
        height: 130px;
        margin: 0 auto;
    }
</style>

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Agregar Administrador</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "webmaster" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de Control</a></li>
                            <li class="breadcrumb-item active">Agregar administrador</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        <div class="row">

            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("newadmin", "administradores", FormMethod.Post,
                     new
                     {
                         id = "newadminForm",
                         @class = "",
                         area = "webmaster",
                         enctype = "multipart/form-data"
                     }))
                    {
                        <div class="card-body">
                            <h5 class="d-inline-block">Nuevo administrador</h5>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <div id="img-fluid" class="col-sm-3">
                                </div>
                                
                                <div class="col-sm-9">
                                    <div class="input-group mt-2">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile04"
                                                   name="user_logo" data-toggle="tooltip" title="Subir logo en formato jpg o png" />
                                            <label class="custom-file-label" for="inputGroupFile04">Selecciona tu imagen</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <small class="form-text text-muted">Subir logo en formato jpg o png</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Nombre</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" name="first_name1" required
                                           data-toggle="tooltip" title="Nombre del administrador"
                                           placeholder="Nombre" id="example-email-input">
                                    <small class="form-text text-muted">Nombre del administrador</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Apellido paterno</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" name="last_name1" required
                                           data-toggle="tooltip" title="Apellido paterno del administrador"
                                           placeholder="Apellido paterno" id="example-email-input">
                                    <small class="form-text text-muted">Apellido paterno del administrador</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Apellido materno</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" name="mother_last_name1"
                                           data-toggle="tooltip" title="Apellido materno del administrador"
                                           placeholder="Apellido materno" id="example-email-input">
                                    <small class="form-text text-muted">Apellido materno del administrador</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="email" value="" name="email"
                                           data-toggle="tooltip" title="Email del administrador"
                                           placeholder="Email" id="example-email-input">
                                    <small class="form-text text-muted">Email del administrador</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-password-input" class="col-sm-3 col-form-label">Contraseña</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="password" value="" name="password"
                                           data-toggle="tooltip" title="Contraseña utilizada para ingresar al sistema"
                                           placeholder="Contraseña" id="example-password-input">
                                    <small class="form-text text-muted">Contraseña utilizada para ingresar al sistema</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Comunidad</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="communityID" 
                                            data-toggle="tooltip" title="Nombre de la comunidad">
                                        @foreach (var item in Model.communityList)
                                        {
                                            <option value="@item.id">@item.first_name</option>
                                        }
                                    </select>
                                    <small class="form-text text-muted">Lista de comunidades</small>
                                </div>
                            </div>
                            @*<div class="form-divider"></div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Comunidad</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="communityID2" required
                                                data-toggle="tooltip" title="Categoría del suplidor">
                                            @foreach (var item in Model.communityList)
                                            {
                                                <option value="@item.id">@item.first_name</option>
                                            }
                                        </select>
                                        <small class="form-text text-muted">Categoría del suplidor</small>
                                    </div>
                                </div>*@
                            <a href=""><button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button></a>
                            <a href="javascript:history.back()"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                        </div>
                    }
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->


<script type="text/javascript">

    (function () {

        function filePreview(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {


                    $('#img-fluid').html("<img class='garritas' src='" + e.target.result + "'/>");

                }

                reader.readAsDataURL(input.files[0]);

            }

        }
        $('#inputGroupFile04').change(function () {

            filePreview(this);
        });

    })();



</script>