
@{
    ViewBag.Title = "reservar";
    Page.Title = "Reservar facilidad - Brokolee Software";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<script src="~/Scripts/jquery-3.1.1.min.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Reservar facilidad</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control")" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de control</a></li>
                            <li class="breadcrumb-item active">Reservar facilidad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        @*<div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row form-material">
                            <div class="col-md-6 mb-4">
                                <h5 class="d-inline-block">1. Elije la fecha para reservar Gimnasio</h5>
                                <div class="form-divider"></div>
                                <div id='calendar' class="col-xl-12"></div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <h5 class="d-inline-block">2. Horarios disponibles para el 10 de Octubre de 2018</h5>
                                <div class="form-divider"></div>
                                <div class="table-responsive">
                                    <table class="table-reservar" id="my-table">
                                        <thead class="header-table">
                                            <tr>
                                                <th class="f-b">Horario</th>
                                                <th class="f-b">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">8:00 - 9:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="customCheck2">Disponible</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">9:00 - 10:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3" data-parsley-multiple="groups" data-parsley-mincheck="3">
                                                            <label class="custom-control-label" for="customCheck2">Disponible</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">10:00 - 11:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4" data-parsley-multiple="groups" data-parsley-mincheck="4">
                                                            <label class="custom-control-label" for="customCheck2">Disponible</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">11:00 - 12:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="customCheck2">Disponible</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">12:00 - 13:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="customCheck2">Disponible</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">13:00 - 14:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="customCheck2">Disponible</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">14:00 - 15:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="customCheck2">Disponible</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">15:00 - 16:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="customCheck2">Disponible</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">17:00 - 18:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4" disabled>
                                                            <label class="custom-control-label" for="customCheck4"> No disponible </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">18:00 - 19:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4" disabled>
                                                            <label class="custom-control-label" for="customCheck4"> No disponible </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">19:00 - 20:00</td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4" disabled>
                                                            <label class="custom-control-label" for="customCheck4"> No disponible </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-divider"></div>
                                <a href="@Url.Action("reservartwo", "facilidades", new { id=1 })"><button type="button" class="btn btn-primary waves-effect waves-light">Reservar facilidad</button></a>
                                <a href=""><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="row">
            @if (ViewBag.msgError != null)
            {
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error: </strong> @ViewBag.msgError
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("reservarFacilidad", "facilidades",
                        FormMethod.Post,
                        new
                        {
                            id = "reserForm",
                            @class = "",
                            enctype = "multipart/form-data"
                        }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="card-body">
                        <input type="hidden" value="@Model.facilidadSe.id" name="idFacilidad" />
                        <h5 class="d-inline-block">@Model.facilidadSe.first_name</h5>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-lastname1-input" class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <textarea readonly maxlength="90" class="form-control" rows="3" name="description"
                                          data-toggle="tooltip" title="Descripción de la facilidad"
                                          placeholder="Descripción">@Model.facilidadSe.description</textarea>
                                <small class="form-text text-muted">Descripción de la facilidad</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                      
                        <div class="form-group row">
                            <label for="example-email-input" class="col-sm-3 col-form-label">Costo</label>
                            <div class="col-sm-4">
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                    </div>
                                    <input maxlength="30" readonly class="form-control" type="text"
                                           onkeypress="return filterFloat(event,this);" value="@Model.facilidadSe.cost_reservation.ToString().Replace(',', '.')" placeholder=""
                                           data-toggle="tooltip" title="Costo por reservación"
                                           id="example-email-input" name="costo" required>
                                </div>
                                    <small class="form-text text-muted">Costo por reservación</small>
                                </div>
                            </div>
                        <div class="form-divider"></div>

                        <div class="form-group row">
                            <label for="example-date-input" class="col-sm-3 col-form-label">Fecha para reservar</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="date" autocomplete="off"
                                       data-toggle="tooltip" title="Elije la fecha para reservar"
                                       name="dateFaci" required
                                       value="" id="example-date-input">
                                <small class="form-text text-muted">Elije la fecha para reservar: @Model.facilidadSe.first_name</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Horarios disponibles</label>
                            <div class="col-sm-2">
                                <select required class="form-control" name="fechaDisponible"
                                        data-toggle="tooltip" title="Horas disponibles" id="fechaDisponible">
                                    <option value="">--:--</option>
                                    @foreach (var item in Model.timeList)
                                    {
                                        <option value="@item.Substring(0,2)">@item</option>
                                    }
                                </select>
                                <small class="form-text text-muted">Comunidad</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <a href=""><button type="submit" class="btn btn-primary waves-effect waves-light">Reservar</button></a>
                        <a href="@Url.Action("listado", "contratos")"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                    </div>
                    }
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'mm/dd/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $('#fecha1').datepicker({
        dateFormat: 'mm/dd/yy',
        changeMonth: true,
        changeYear: true

    });

</script>


<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'mm/dd/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $('#fecha2').datepicker({
        dateFormat: 'mm/dd/yy',
        changeMonth: true,
        changeYear: true

    });

</script>


<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $('#fecha3').datepicker({
        dateFormat: 'mm/dd/yy',
        changeMonth: true,
        changeYear: true

    });

</script>