
@{
    ViewBag.Title = "editar";
    Page.Title = "Editar suplidor - Brokolee Software";
}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Editar suplidor</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "webmaster" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de control</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("listado", "suplidores", new { area = "webmaster" })" class="text-success">Suplidores</a></li>
                            <li class="breadcrumb-item active">Editar suplidor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="@Url.Action("listado", "suplidores", new { area = "webmaster" })"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        <div class="row">

            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("editsupplier",
                        "suplidores",
                        FormMethod.Post,
                        new
                        {
                            id = "editsupplierForm",
                            @class = "",
                            area = "webmaster",
                            enctype = "multipart/form-data"
                        }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="editID" value="@Model.editSupplier.id" />
                        <div class="card-body">
                            <h5 class="d-inline-block">@Model.editSupplier.company - @Model.editSupplier.contact_name</h5>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    @if (Model.editSupplier.logo != null)
                                    {
                                        <img src="~/Upload/Supplier_Logo/@Model.editSupplier.logo" alt="user-img" class="img-fluid" />
                                    }
                                    else
                                    {
                                        <img src="~/assets/images/suplidores/logo-suplidor.jpg" alt="user-img" class="img-fluid" />
                                    }
                                </div>
                                <div class="col-sm-9">
                                    <div class="input-group mt-2">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile04" name="supply_logo"
                                                   data-toggle="tooltip" title="Subir logo en formato jpg o png" />
                                            <label class="custom-file-label" for="inputGroupFile04">Seleccionar archivo</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <small class="form-text text-muted">Subir logo en formato jpg o png</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Compañía suplidor</label>
                                <div class="col-sm-9">
                                    <input maxlength="20" class="form-control soloTexto" type="text" value="@Model.editSupplier.company"
                                           data-toggle="tooltip" title="Nombre de la compañía del suplidor"
                                           placeholder="Compañía suplidor" id="example-email-input" name="company" required />
                                    @*<small class="form-text text-muted">Nombre de la compañía del suplidor</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-name1-input" class="col-sm-3 col-form-label">Nombre de contacto</label>
                                <div class="col-sm-9">
                                    <input maxlength="20" class="form-control soloTexto" type="text" value="@Model.editSupplier.contact_name"
                                           data-toggle="tooltip" title="Nombre de contacto del suplidor"
                                           placeholder="Nombre de contacto" id="example-name1-input" name="contact_name" required>
                                    @*small class="form-text text-muted">Nombre de contacto del suplidor</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Tipo de servicio</label>
                                <div class="col-sm-9">
                                    <input maxlength="20" class="form-control soloTexto" type="text" value="@Model.editSupplier.type_service"
                                           data-toggle="tooltip" title="Servicio que ofrece"
                                           placeholder="Tipo de servicio" id="example-lastname1-input" name="type_service" required />
                                    @*<small class="form-text text-muted">Servicio que ofrece</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Categoría</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="category" required
                                            data-toggle="tooltip" title="Categoría del suplidor">
                                        <option value="">Elije una categoría</option>
                                        @foreach (var item in Model.categoryList)
                                        {
                                            if (Model.editSupplier.category_id == item.Id)
                                            {
                                                <option value="@item.Id" selected>@item.name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.name</option>
                                            }

                                        }
                                    </select>
                                    @*<small class="form-text text-muted">Categoría del suplidor</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Dirección</label>
                                <div class="col-sm-9">
                                    <input maxlength="40" class="form-control" type="text" value="@Model.editSupplier.address" name="address"
                                           data-toggle="tooltip" title="Dirección del suplidor"
                                           placeholder="Dirección" id="example-lastname1-input" required />
                                    @*<small class="form-text text-muted">Dirección del suplidor</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-tel1-input" class="col-sm-3 col-form-label">Teléfono</label>
                                <div class="col-sm-9">
                                    <input maxlength="15" class="form-control soloNumero" type="tel" value="@Model.editSupplier.phone" name="phone"
                                           data-toggle="tooltip" title="Teléfono del suplidor"
                                           placeholder="# Teléfono" id="example-tel1-input" required />
                                    @*<small class="form-text text-muted">Teléfono del suplidor</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Correo electrónico</label>
                                <div class="col-sm-9">
                                    <input maxlength="40" class="form-control" type="email" value="@Model.editSupplier.email" name="email"
                                           data-toggle="tooltip" title="Correo electrónico del suplidor"
                                           placeholder="Correo electrónico" id="example-email-input" required>
                                    @*<small class="form-text text-muted">Correo electrónico del suplidor</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-date-input" class="col-sm-3 col-form-label">Suplidor desde</label>
                                <div class="col-sm-9">
                                    <input required class="form-control" type="date" data-toggle="tooltip" title="Mes / día / año | Fecha de registro en el directorio"
                                           value="@Convert.ToDateTime(Model.editSupplier.supplier_from).ToString("yyyy-MM-dd")"
                                           id="example-date-input" name="supplier_from" />
                                    @*<small class="form-text text-muted">Mes / día / año | Fecha de registro en el directorio</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Página web</label>
                                <div class="col-sm-9">
                                    <input maxlength="50" required class="form-control" type="text" value="@Model.editSupplier.web_page" name="web_page"
                                           data-toggle="tooltip" title="Por ejemplo: wwww.suplidores.com"
                                           placeholder="Url de página web" id="example-email-input">
                                    @*<small class="form-text text-muted">Por ejemplo: wwww.suplidores.com</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-address1-input" class="col-sm-3 col-form-label">Estado</label>
                                <div class="col-sm-9">
                                    <div class="form-check-inline my-2">
                                        <div class="custom-control custom-checkbox">
                                            @if (Model.editSupplier.status == 1)
                                            {
                                                <input type="checkbox" class="custom-control-input"
                                                       checked=""
                                                       id="customCheck6" data-parsley-multiple="groups"
                                                       value="1" name="status"
                                                       data-parsley-mincheck="2">
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="custom-control-input"
                                                       id="customCheck6" data-parsley-multiple="groups"
                                                       value="1" name="status"
                                                       data-parsley-mincheck="2">
                                            }

                                            <label class="custom-control-label" for="customCheck6">Activado</label>
                                        </div>
                                    </div>
                                    <div class="form-check-inline my-2">
                                        <div class="custom-control custom-checkbox">
                                            @if (Model.editSupplier.status == 2)
                                            {
                                                <input type="checkbox" class="custom-control-input"
                                                       id="customCheck7"
                                                       value="2" name="status" checked
                                                       data-parsley-multiple="groups"
                                                       data-parsley-mincheck="2">
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="custom-control-input"
                                                       id="customCheck7"
                                                       value="2" name="status"
                                                       data-parsley-multiple="groups"
                                                       data-parsley-mincheck="2">
                                            }

                                        <label class="custom-control-label" for="customCheck7">Desactivado</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href=""><button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button></a>
                            <a href="@Url.Action("listado", "suplidores", new { area = "webmaster" })"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                        </div>
                    }
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="@Url.Action("listado", "suplidores", new { area = "webmaster" })"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->