
@{
    ViewBag.Title = "editar";
    Page.Title = "Editar paquete - Brokolee Software";
}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Editar Paquete</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "webmaster" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de Control</a></li>
                            <li class="breadcrumb-item active">Editar paquete</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        <div class="row">

            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("editpaq", "paquetes",
                        FormMethod.Post, new
                        {
                            id = "editpaqForm",
                            @class = "",
                            area = "webmaster",
                            enctype = "multipart/form-data"
                        }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@Model.editPackage.id" name="editID" />
                        <div class="card-body">
                            <h5 class="d-inline-block">@Model.editPackage.first_name</h5>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Nombre</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="@Model.editPackage.first_name"
                                           name="first_name" data-toggle="tooltip"
                                           placeholder="Paquete 1" id="example-email-input" required />
                                   @* <small class="form-text text-muted">Nombre del Paquete</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-date-input" class="col-sm-3 col-form-label">Tarifa</label>
                                <div class="col-sm-9">
                                    <div class="input-group mt-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                        </div>
                                        <input type="text" placeholder="0.00" value="@Model.editPackage.payment" name="payment"
                                               data-toggle="tooltip"
                                               class="form-control" required />
                                    </div>
                                   @* <small class="form-text text-muted">Pago recibido por el paquete adquirido</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Descripción</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="3" name="description"
                                              data-toggle="tooltip" 
                                              placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">@Model.editPackage.description</textarea>
                                 @*   <small class="form-text text-muted">Descripción del paquete</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-name1-input" class="col-sm-3 col-form-label">Comunidad</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="@Model.editPackage.community"
                                           name="community" data-toggle="tooltip" 
                                           placeholder="Comunidad 1" id="example-name1-input" required />
                                  @*  <small class="form-text text-muted">Nombre de la Comunidad</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-name1-input" class="col-sm-3 col-form-label">Administrador</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="@Model.editPackage.admin_email" name="admin_email"
                                           data-toggle="tooltip" 
                                           placeholder="jdelpueblo@dominio.com" id="example-name1-input" required />
                                   @* <small class="form-text text-muted">Email del Administrador</small>*@
                                </div>
                            </div>
                            @*<div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-name1-input" class="col-sm-3 col-form-label">Suscribir enlace</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="suscribe_link" required
                                           value="@Model.editPackage.suscribe_link"
                                           placeholder="Suscribir enlace" id="example-name1-input"
                                           data-toggle="tooltip" title="Enlace de Suscripción" />
                                    <small class="form-text text-muted">Suscribir enlace</small>
                                </div>
                            </div>*@
                            <div class="form-divider"></div>
                            <a href=""><button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button></a>
                            <a href="javascript:history.back()"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                        </div>
                    }

                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->
