
@{
    ViewBag.Title = "_search";
}

@foreach (var item in Model.titularList)
{
    <tr>
        <td>@item.first_name1</td>
        <td>@item.last_name1</td>
        <td>@item.email</td>
        <td class="text-center"><button type="button" class="btn btn-primary waves-effect waves-light btn-sm">Activo</button></td>
        <td class="text-center">
            <a href="#">
                <button type="button" class="btn btn-info waves-effect waves-light btn-sm mr-1 mb-1"
                        onclick="onResidentPrint(this)" data-id="@item.id"
                        data-toggle="tooltip" data-placement="top" title="Imprimir">
                    <i class="mdi mdi-printer"></i>
                </button>
            </a>
            <a href="#">
                @if (item.is_active == true)
                {
                    <button type="button" class="btn btn-danger waves-effect waves-light btn-sm mb-1"
                            data-toggle="tooltip" onclick="onDeactiveResident(this)" data-id="@item.id"
                            data-placement="top" title="Inactivar">
                        <i class="mdi mdi-account-off"></i>
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-danger waves-effect waves-light btn-sm mb-1"
                            data-toggle="tooltip" data-placement="top" title="Inactivar"
                            onclick="onActiveResident(this)" data-id="@item.id">
                        <i class="mdi mdi-account-off"></i>
                    </button>
                }
            </a>
        </td>
        <td class="text-center">
            <a href="@Url.Action("ver", "titulares", new { area = "coadmin", id = item.id })">
                <button type="button" class="btn btn-success waves-effect waves-light btn-sm mr-1 mb-1"
                        data-toggle="tooltip" data-placement="top" title="Ver">
                    <i class="mdi mdi-eye"></i>
                </button>
            </a>
            <a href="@Url.Action("editar", "titulares", new {  area = "coadmin", id = item.id })">
                <button type="button" class="btn btn-primary waves-effect waves-light btn-sm mr-1 mb-1"
                        data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="mdi mdi-lead-pencil"></i>
                </button>
            </a>
            <button type="button" class="btn btn-danger waves-effect waves-light btn-sm mb-1" data-id="@item.id"
                    onclick="onDeleteResident(this)"
                    data-toggle="tooltip" data-placement="top" title="Eliminar">
                <i class="mdi mdi-delete"></i>
            </button>
        </td>
    </tr>
}