
@{
    ViewBag.Title = "editar";
    Page.Title = "Editar título - Brokolee Software";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<script src="~/Scripts/jquery-3.1.1.min.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>



<style media="screen">
    #inputGroupFile04 {
        max-width: 150px;
        margin: 0 auto;
        height: 130px;
    }


    .garritas {
        max-width: 150px;
        height: 130px;
        margin: 0 auto;
    }
</style>

<style media="hola">
    .example-name2-input {
        background-color: var(--color-bg-btn);
        color: white;
        width: 170px;
        text-align: center;
        line-height: 22px;
    }
</style>

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Editar título de Propiedad</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de control</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("listado", "titulares", new { area = "coadmin" })" class="text-success">Titulares</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("listadoTitulos", "titulares", new { area = "coadmin", id = Model.titulo.IdUser })" class="text-success">Títulos</a></li>
                            <li class="breadcrumb-item active">Editar título</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="@Url.Action("listadoTitulos", "titulares", new { area = "coadmin", id = Model.titulo.IdUser })"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        <div class="row">
            @if (ViewBag.msgError != null)
            {
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error: </strong> @ViewBag.msgError
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("EditarTitulo",
                        "titulares", FormMethod.Post,
                        new
                        {
                            id = "editresidentForm",
                            @class = "",
                            enctype = "multipart/form-data"
                        }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@Model.titulo.Id" name="IdTitulo" />
                        <input type="hidden" value="@Model.titulo.IdUser" name="IdUser" />
                        <div class="card-body">
                            <h5 class="d-inline-block">Información del título</h5>

                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label label="example-date-input-acq-date" class="col-sm-3 col-form-label">Fecha de adquisición</label>
                                <div class="col-sm-9">
                                    <input required autocomplete="off"
                                           id="fecha11"
                                           name="acq_date"
                                           value="@Convert.ToDateTime(Model.titulo.acq_date).ToString("MM/dd/yyyy")" />

                                    @*  <small class="form-text text-muted">dia / Mes / año</small>*@
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Comunidad</label>
                                <div class="col-sm-9">
                                    <select class="form-control" required name="IdCommunity"
                                            data-toggle="tooltip" title="Nombre de la comunidad" id="IdCommunity">
                                      
                                            <option selected value="@Model.communityS.id">@Model.communityS.first_name</option>
                                           
                                        
                                    </select>
                                    <small class="form-text text-muted">Lista de comunidades</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="apartment-input" class="col-sm-3 col-form-label">Propiedad</label>
                                <div class="col-sm-9">
                                    <input maxlength="20" class="form-control soloTexto" type="text" value="@Model.titulo.apartment"
                                           name="apartment" required
                                           data-toggle="tooltip"
                                           placeholder="Propiedad" id="apartment-input">
                                    @*  <small class="form-text text-muted">Propiedad del titular</small>*@
                                </div>
                            </div>



                            <div class="form-divider"></div>
                            <h6 class="mt-0 header-title">Escritura</h6>
                            <p>Escritura de compra-venta.</p>
                            <div class="form-group row">
                                <label for="example-name2-input" class="col-sm-3 col-form-label">Subir escritura</label>
                                <div class="col-sm-9">
                                    <div class="input-group mt-2">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="input-arch" name="writing_script" />
                                            <label id="garras" class="custom-file-label" for="input-arch">Seleccionar archivo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.titulo.upload_writing != null)
                            {
                                <div class="form-group row">
                                    <label for="example-name2-input" class="col-sm-3 col-form-label">Descargar archivo</label>
                                    <div class="col-sm-9">
                                        <div class="input-group mt-2">
                                            <div class="custom-file">

                                                <a href="~/Upload/Upload_Writing/@Model.titulo.upload_writing" download="">
                                                    <button type="button" class="btn btn-info waves-effect waves-light">
                                                        <i class="mdi mdi-cloud-download  m-r-5"></i> Descargar archivo
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-address1-input" class="col-sm-3 col-form-label">¿Está la propiedad arrendada?</label>
                                <div class="col-sm-9">
                                    <div class="form-check-inline my-2">
                                        <div class="custom-control custom-checkbox">
                                            @if (Model.titulo.is_leased == true)
                                            {
                                                <input type="checkbox" name="siono" value="boxyes" checked data-toggle="tooltip" title="Si"
                                                       class="custom-control-input" id="customCheck6" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="siono" value="boxyes" data-toggle="tooltip" title="Si"
                                                       class="custom-control-input" id="customCheck6" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                            }
                                            <label class="custom-control-label" for="customCheck6"> Si</label>
                                        </div>
                                    </div>
                                    <div class="form-check-inline my-2">
                                        <div class="custom-control custom-checkbox">
                                            @if (Model.titulo.is_leased == false)
                                            {
                                                <input type="checkbox" name="siono" value="boxno" checked data-toggle="tooltip" title="No"
                                                       class="custom-control-input" id="customCheck7" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="siono" value="boxno" class="custom-control-input" data-toggle="tooltip" title="No"
                                                       id="customCheck7" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                            }
                                            <label class="custom-control-label" for="customCheck7"> No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- View -->
                            <div class="boxyes box">
                                <div class="form-divider"></div>
                                <h6 class="mt-0 header-title">Periodo de arrendamiento</h6>
                                <div class="form-group row">
                                    <label for="example-date-input-since" class="col-sm-3 col-form-label">Desde</label>
                                    <div class="col-sm-9">
                                        @if (Model.titulo.since != null)

                                        {

                                            <input autocomplete="off" class="hiddenRequired"
                                                   value="@Convert.ToDateTime(Model.titulo.since).ToString("MM/dd/yyyy")"
                                                   id="fecha22" name="since">
                                        }
                                        else
                                        {

                                            <input autocomplete="off" class="hiddenRequired" id="fecha22" name="since">

                                        }
                                        @*  <small class="form-text text-muted">dia / Mes / año</small>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-date-input-until" class="col-sm-3 col-form-label">Hasta</label>
                                    <div class="col-sm-9">
                                        @if (Model.titulo.until != null)
                                        {
                                            <input autocomplete="off" class="hiddenRequired"
                                                   value="@Convert.ToDateTime(Model.titulo.until).ToString("MM/dd/yyyy")"
                                                   id="fecha33" name="until">
                                        }
                                        else
                                        {
                                            <input autocomplete="off" class="hiddenRequired" id="fecha33" name="until">
                                        }
                                        @*<small class="form-text text-muted">dia / Mes / año</small>*@
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <h5 class="d-inline-block">Información del Arrendatario</h5>
                                <div class="form-divider"></div>
                                <h6 class="mt-0 header-title">Nombre completo del arrendatario</h6>
                                <div class="form-group row">
                                    <label for="example-name2-input" class="col-sm-3 col-form-label">Nombre</label>
                                    <div class="col-sm-9">
                                        <input maxlength="20" class="form-control soloTexto hiddenRequired" 
                                               type="text" data-toggle="tooltip"
                                               value="@Model.titulo.tenant_first_name1"
                                               placeholder="Nombre"
                                               name="tenant_first_name1"
                                               id="example-name2-input">
                                        @*<small class="form-text text-muted">Nombre del arrendatario</small>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-lastname2-input-tenant-last-name" class="col-sm-3 col-form-label">Apellido paterno</label>
                                    <div class="col-sm-9">
                                        <input maxlength="20" class="form-control soloTexto hiddenRequired" 
                                               type="text" data-toggle="tooltip"
                                               value="@Model.titulo.tenant_last_name1"
                                               name="tenant_last_name1"
                                               placeholder="Apellido paterno"
                                               id="example-lastname2-input-tenant-last-name" />
                                        @*<small class="form-text text-muted">Apellido paterno del arrendatario</small>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-lastname2m-input-tenant-mother-last-name" class="col-sm-3 col-form-label">Apellido materno</label>
                                    <div class="col-sm-9">
                                        <input maxlength="20" class="form-control soloTexto hiddenRequired"
                                               type="text" data-toggle="tooltip"
                                               value="@Model.titulo.tenant_mother_last_name1"
                                               name="tenant_mother_last_name1"
                                               placeholder="Apellido materno"
                                               id="example-lastname2m-input-tenant-mother-last-name">
                                        @*    <small class="form-text text-muted">Apellido materno del arrendatario</small>*@
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-address1-input-leased-postal-address" class="col-sm-3 col-form-label">Dirección postal</label>
                                    <div class="col-sm-9">
                                        <input maxlength="15" class="form-control hiddenRequired"
                                               type="text" data-toggle="tooltip"
                                               value="@Model.titulo.leased_postal_address"
                                               name="leased_postal_address"
                                               placeholder="Dirección postal"
                                               id="example-address1-input-leased-postal-address">
                                        @*    <small class="form-text text-muted">Dirección postal del arrendatario</small>*@
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-address2-input-leased-residential-address" class="col-sm-3 col-form-label">Dirección residencial</label>
                                    <div class="col-sm-9">
                                        <input maxlength="40" class="form-control hiddenRequired"
                                               type="text"
                                               value="@Model.titulo.leased_residential_address"
                                               data-toggle="tooltip"
                                               name="leased_residential_address"
                                               placeholder="Dirección residencial"
                                               id="example-address2-input-leased-residential-address">
                                        @*   <small class="form-text text-muted">Dirección residencial del arrendatario</small>*@
                                    </div>
                                </div>
                                <div class="form-divider"></div>

                                <h6 class="mt-0 header-title">Contrato de arrendamiento</h6>
                                <div class="form-group row">
                                    <label for="example-name2-input" class="col-sm-3 col-form-label">Subir contrato de arrendamiento</label>
                                    <div class="col-sm-9">
                                        <div class="input-group mt-2">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="input-arch-contra" name="script_file" />
                                                <label id="garrasC" class="custom-file-label" for="input-arch">Seleccionar archivo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.titulo.leased_upload_file != null)
                                {
                                    <div class="form-group row">
                                        <label for="example-name2-input" class="col-sm-3 col-form-label">Descargar archivo</label>
                                        <div class="col-sm-9">
                                            <div class="input-group mt-2">
                                                <div class="custom-file">
                                                    <a href="~/Upload/Upload_Contrac/@Model.titulo.leased_upload_file" download="">
                                                        <button type="button" class="btn btn-info waves-effect waves-light">
                                                            <i class="mdi mdi-cloud-download  m-r-5"></i> Descargar archivo
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <!-- End View -->

                            <a href="#"><button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button></a>
                            <a href="@Url.Action("listadoTitulos", "titulares", new { area = "coadmin", id = Model.titulo.IdUser})"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                        </div>
                    }
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="@Url.Action("listadoTitulos", "titulares", new { area = "coadmin", id = Model.titulo.IdUser})"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->


<script type="text/javascript">

    (function () {
       $('#input-arch').change(function () {

          // $('#garras').prev().text($(this)[0].files[0].name);
         //nombre del archivo cargado=$(this)[0].files[0].name
         $('#garras').html($(this)[0].files[0].name);
     });
         $('#input-arch-contra').change(function () {

          // $('#garras').prev().text($(this)[0].files[0].name);
         //nombre del archivo cargado=$(this)[0].files[0].name
         $('#garrasC').html($(this)[0].files[0].name);
     });
        function filePreview(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {


                    $('#img-fluid').html("<img class='garritas' src='" + e.target.result + "'/>");

                }

                reader.readAsDataURL(input.files[0]);

            }

        }
        $('#inputGroupFile04').change(function () {

            filePreview(this);
        });

    })();

    if ('@Model.titulo.is_leased' == 'True') {
        $(".box").show();
    }


</script>


<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'mm/dd/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $('#fecha11').datepicker({

        changeMonth: true,
        changeYear: true

    });

</script>

<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'mm/dd/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $('#fecha22').datepicker({

        changeMonth: true,
        changeYear: true

    });

</script>

<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'mm/dd/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $('#fecha33').datepicker({

        changeMonth: true,
        changeYear: true

    });

</script>