
@{
    ViewBag.Title = "agregar";
    Page.Title = "Agregar Titular - Brokolee Software";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<script src="~/Scripts/jquery-3.1.1.min.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>



<style media="screen">
    #inputGroupFile04 {
        max-width: 150px;
        margin: 0 auto;
        height: 130px;
    }


    .garritas {
        max-width: 150px;
        height: 130px;
        margin: 0 auto;
    }
</style>

<style media="hola">
    .example-name2-input {
        background-color: var(--color-bg-btn);
        color: white;
        width: 170px;
        text-align: center;
        line-height: 22px;
    }
</style>



<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Agregar Titulo</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "webmaster" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de Control</a></li>
                            <li class="breadcrumb-item active">Agregar Titulo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        <div class="row">

            @if (ViewBag.msgError != null)
            {
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error: </strong> @ViewBag.msgError
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }

            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("InsertarTitulo", "titulares",
                        FormMethod.Post, new
                        {
                            id = "newresidentForm",
                            @class = "",
                            area = "coadmin",
                            enctype = "multipart/form-data"
                        }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <h5 class="d-inline-block">Información del Titulo</h5>
                            <input type="hidden" value="@Model.IdUserTitular" name="IdUser" />
                          
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label label="example-date-input" class="col-sm-3 col-form-label">Fecha de adquisición</label>
                                <div class="col-sm-9">

                                    <input name="acq_date"
                                           id="fecha1" />
                                    <small class="form-text text-muted">Mes / día / año</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Comunidad</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="IdCommunity"
                                            data-toggle="tooltip" title="Nombre de la Comunidad" id="IdCommunity">
                                        @foreach (var item in Model.communityList)
                                        {
                                            <option value="@item.id">@item.first_name</option>
                                        }
                                    </select>
                                    <small class="form-text text-muted">Lista de Comunidades</small>
                                </div>
                            </div>




                            <div class="form-divider"></div>                          
                            <div class="form-group row">
                                <label for="apartment-input" class="col-sm-3 col-form-label">Apartamento</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" name="apartment" required
                                           data-toggle="tooltip" title="Apartamento del Titular"
                                           placeholder="Apartamento" id="apartment-input">
                                    <small class="form-text text-muted">Apartamento del Titular</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <h6 class="mt-0 header-title">Escritura</h6>
                            <p>Escritura de compra-venta.</p>
                            <div class="form-group row">
                                <label for="example-name2-input" class="col-sm-3 col-form-label">Subir Escritura</label>
                                <div class="col-sm-9">
                                    <div class="input-group mt-2">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="input-arch" name="writing_script" />
                                            <label id="garras" class="custom-file-label" for="input-arch">Seleccionar archivo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-address1-input" class="col-sm-3 col-form-label">¿Está la propiedad arrendada?</label>
                                <div class="col-sm-9">
                                    <div class="form-check-inline my-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="siono"
                                                   data-parsley-multiple="groups" data-parsley-mincheck="2"
                                                   data-toggle="tooltip" title="Si"
                                                   id="customCheck6" value="boxyes">
                                            <label class="custom-control-label" for="customCheck6">Si</label>
                                        </div>
                                    </div>
                                    <div class="form-check-inline my-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="customCheck7"
                                                   data-parsley-multiple="groups" data-parsley-mincheck="2"
                                                   data-toggle="tooltip" title="No" checked
                                                   class="custom-control-input" name="siono" value="boxno">
                                            <label class="custom-control-label" for="customCheck7">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- View -->
                            <div class="boxyes box">
                                <div class="form-divider"></div>
                                <h6 class="mt-0 header-title">Periodo de arrendamiento</h6>


                                <div class="form-group row">
                                    <label for="example-date-input" class="col-sm-3 col-form-label">Desde</label>
                                    <div class="col-sm-9">
                                        <input name="since"
                                               id="fecha2">
                                        <small class="form-text text-muted">Mes / día / año</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-date-input" class="col-sm-3 col-form-label">Hasta</label>
                                    <div class="col-sm-9">
                                        <input name="until"
                                               id="fecha3">
                                        <small class="form-text text-muted">Mes / día / año</small>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <h5 class="d-inline-block">Información del Arrendatario</h5>
                                <div class="form-divider"></div>
                                <h6 class="mt-0 header-title">Nombre completo del arrendatario</h6>
                                <div class="form-group row">
                                    <label for="example-name2-input" class="col-sm-3 col-form-label">Nombre</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" value="" name="tenant_first_name1"
                                               data-toggle="tooltip" title="Nombre del Arrendatario"
                                               placeholder="Nombre" id="example-name2-input">
                                        <small class="form-text text-muted">Nombre del Arrendatario</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-lastname2-input" class="col-sm-3 col-form-label">Apellido paterno</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" value="" name="tenant_last_name1"
                                               data-toggle="tooltip" title="Apellido paterno del Arrendatario"
                                               placeholder="Apellido paterno" id="example-lastname2-input">
                                        <small class="form-text text-muted">Apellido paterno del Arrendatario</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-lastname2m-input" class="col-sm-3 col-form-label">Apellido materno</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" value="" name="tenant_mother_last_name1" placeholder="Apellido materno"
                                               data-toggle="tooltip" title="Apellido materno del Arrendatario"
                                               id="example-lastname2m-input">
                                        <small class="form-text text-muted">Apellido materno del Arrendatario</small>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-address1-input" class="col-sm-3 col-form-label">Dirección postal</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" value="" name="leased_postal_address"
                                               data-toggle="tooltip" title="Dirección postal del Arrendatario"
                                               placeholder="Dirección Postal" id="example-address1-input">
                                        <small class="form-text text-muted">Dirección postal del Arrendatario</small>
                                    </div>
                                </div>



                                <div class="form-divider"></div>
                                <div class="form-group row">
                                    <label for="example-address2-input" class="col-sm-3 col-form-label">Dirección residencial</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" value="" placeholder="Dirección residencial"
                                               data-toggle="tooltip" title="Dirección residencial del Arrendatario" name="leased_residential_address"
                                               id="example-address2-input">
                                        <small class="form-text text-muted">Dirección residencial del Arrendatario-G2</small>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                                <h6 class="mt-0 header-title">Contrato de arrendamiento</h6>
                                <div class="form-group row">
                                    <label for="example-name2-input" class="col-sm-3 col-form-label">Subir contrato de arrendamiento</label>
                                    <div class="col-sm-9">
                                        <div class="input-group mt-2">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="input-arch-contra" name="script_file" />
                                                <label id="garrasC" class="custom-file-label" for="input-arch">Seleccionar archivo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                            </div>
                            <!-- End View -->
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->


<script type="text/javascript">

    (function () {

        function filePreview(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {


                    $('#img-fluid').html("<img class='garritas' src='" + e.target.result + "'/>");

                }

                reader.readAsDataURL(input.files[0]);

            }

        }
        $('#inputGroupFile04').change(function () {

            filePreview(this);
        });

    })();

</script>


<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'mm/dd/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $('#fecha1').datepicker({
        dateFormat: 'mm/dd/yy',
        changeMonth: true,
        changeYear: true

    });

</script>


<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'mm/dd/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $('#fecha2').datepicker({
    dateFormat: 'mm/dd/yy',
        changeMonth: true,
        changeYear: true

    });

</script>


<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $('#fecha3').datepicker({
    dateFormat: 'mm/dd/yy',
        changeMonth: true,
        changeYear: true

    });

</script>



<script type="text/javascript">

    (function () {

     $('#input-arch').change(function () {

          // $('#garras').prev().text($(this)[0].files[0].name);
         //nombre del archivo cargado=$(this)[0].files[0].name
         $('#garras').html($(this)[0].files[0].name);
     });
         $('#input-arch-contra').change(function () {

          // $('#garras').prev().text($(this)[0].files[0].name);
         //nombre del archivo cargado=$(this)[0].files[0].name
         $('#garrasC').html($(this)[0].files[0].name);
     });
        function GuardarTitular() {
            var compania = new Array();
            var formData = new FormData();

            if ($("#inputGroupFile04")[0].files.length > 0) {
            formData.append('logo', $("#inputGroupFile04")[0].files[0], "lp");
            }
            if ($("#input-arch")[0].files.length > 0) {
            formData.append('Escritura', $("#input-arch")[0].files[0], "lp");
            }
            if ($("#input-arch-contra")[0].files.length > 0) {
            formData.append('Contrato', $("#input-arch-contra")[0].files[0], "lp");
            }

            console.log(formData);

        }

         })();
</script>