
@{
    ViewBag.Title = "ver";
    Page.Title = "El nombre del Titular - Brokolee Software";
}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Ver Titular</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "webmaster" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de Control</a></li>
                            <li class="breadcrumb-item active">Ver Titular</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row form-material">
                            <div class="col-md-6">
                                <h5 class="d-inline-block">Información del Titular</h5>
                            </div>
                            @*<div class="col-md-6 mb-1">
                <a href="@Url.Action("editar", "titulares", new { area = "webmaster", id = Model.editUser.id })" class="mr-1"><button type="button" class="btn btn-success waves-effect waves-light float-xl-right float-lg-right float-md-left">Editar</button></a>
                <a href="@Url.Action("agregar", "titulares", new { area = "webmaster" })"><button type="button" class="btn btn-primary waves-effect waves-light float-xl-right float-lg-right float-md-left">Agregar nuevo</button></a>
            </div>*@
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                @if (Model.editUser.user_img != null)
                                {
                                    <img src="~/Upload/User_Logo/@Model.editUser.user_img" alt="user-img" class="img-fluid" />
                                }
                                else
                                {
                                    <img src="~/assets/images/user.svg" alt="user-img" class="img-fluid" />
                                }
                            </div>
                            <div class="col-sm-9">

                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-email-input" class="col-sm-3 col-form-label">Correo electrónico</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="email" name="email" required value="@Model.editUser.email" readonly
                                       data-toggle="tooltip" 
                                       placeholder="Correo electrónico del titular" id="example-email-input">
                                <small class="form-text text-muted">Base utilizada para identificar las unidades suscritas de varias comunidades adscritas.</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-password-input" class="col-sm-3 col-form-label">Contraseña</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="password" value="@Model.editUser.password"
                                       placeholder="Contraseña" id="example-password-input" readonly
                                       data-toggle="tooltip" />
                                <small class="form-text text-muted">Contraseña utilizada para ingresar al sistema</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-name2-input" class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="@Model.editUser.first_name1" readonly
                                       placeholder="Nombre" id="example-name2-input" data-toggle="tooltip" />
                                <small class="form-text text-muted">Nombre del Titular</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-lastname2-input" class="col-sm-3 col-form-label">Apellido paterno</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="@Model.editUser.last_name1" readonly
                                       placeholder="Apellido paterno" id="example-lastname2-input"
                                       data-toggle="tooltip" />
                                <small class="form-text text-muted">Apellido paterno del Titular</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-lastname2m-input" class="col-sm-3 col-form-label">Apellido materno</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="@Model.editUser.mother_last_name1" readonly
                                       placeholder="Apellido materno" id="example-lastname2m-input"
                                       data-toggle="tooltip" />
                                <small class="form-text text-muted">Apellido materno del Titular</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-tel1-input" class="col-sm-3 col-form-label">Número de Teléfono</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="tel" value="@Model.editUser.phone_number1"
                                       placeholder="# Teléfono" id="example-tel1-input" readonly
                                       data-toggle="tooltip"  />
                                <small class="form-text text-muted">Número de teléfono del Titular</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-address1-input" class="col-sm-3 col-form-label">Dirección Postal</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="@Model.editUser.postal_address"
                                       placeholder="Dirección Postal" id="example-address1-input" readonly
                                       data-toggle="tooltip"  />
                                <small class="form-text text-muted">Dirección postal del Titular</small>
                            </div>
                        </div>
                        <div class="form-divider"></div>
                        <div class="form-group row">
                            <label for="example-address2-input" class="col-sm-3 col-form-label">Dirección Residencial</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="@Model.editUser.residential_address"
                                       placeholder="Dirección Residencial" id="example-address2-input" readonly
                                       data-toggle="tooltip"  />
                                <small class="form-text text-muted">Dirección residencial del Titular</small>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->